[2018-07-11 00:05] JiaweiZhuang commented on #334
For sure. But an additional step to scatter weights seems necessary. User code might look like:

[code]

Re-computing weights is much more expensive than sending them around or reading them from storage. Computing the 170 MB weights took ~2 min on Pangeo master node; broadcasting them around just took seconds.

Another option is to have individual workers read pre-generated weights. User code migh

[2018-07-11 00:07] JiaweiZhuang commented on #334
The next issue would be integrating this into the entire I/O pipeline. Looks like @kaipak already has many test suites on [storage-benchmarks](https://github.com/pangeo-data/storage-benchmarks). I basically just need to insert a regridding step between read and write. What do I need to do if I want to replicate those tests? Just thinking about write permissions.

Indeed it would be a nice experien

[2018-07-11 04:02] mrocklin commented on #334
Alternatively to scatter we can also wrap weights in dask.delayed.  We
might consider doing this automatically in da.map_blocks.  You'll still get
the warning, but it'll probably operate just about as well.

On Tue, Jul 10, 2018 at 8:07 PM, Jiawei Zhuang <notifications@github.com>
wrote:

[2018-07-11 16:18] kaipak commented on #334
I've been busy getting my life in order after leaving NYC and moving back to Portland, OR recently and have had only limited cycles to work on this lately. However, I've been doing some work here and there including building my own test cluster on GCP. I bring this up because I'm planning on deploying one on AWS in the near term as well.

It probably wouldn't be too hard to build an additional set

[2018-07-11 20:38] mrocklin commented on #322
This is happening again now.  @martindurant if you have time next week can I ask you to look into this.  This seems fairly high priority if we want to preserve our allocation.

[2018-07-11 21:03] JiaweiZhuang commented on #334
I am now able to write to Pangeo bucket thanks to @jhamman. But it only works without dask-distributed; the distributed cluster cannot find credentials. Not sure if related to dask/distributed#180.

I connected to cloud storage by:
[code]
Where the credential json file was on local disk (Is there a more secure way without Application Default Credentials? Say some sort of one-time token? )

Full er

[2018-07-11 21:16] jhamman commented on #322
I'm confused by this:

[code]

yet the preimtible pool is sitting at 499 nodes. So what are the 496 pods doing?

[2018-07-11 21:19] martindurant commented on #322
Running a resize command now, it's taking very long, perhaps as long as Matt was trying to do in the web UI.

[2018-07-11 21:23] martindurant commented on #322
Note that we have persistent 1537 disks

[2018-07-11 21:29] tjcrone commented on #322
We also have a large number of "succeeded" pods.
[code]
I don't really understand what a "succeeded" pod is, but they tend to never go away unless they are deleted explicitly, and are not listed by get pods. I delete them on occasion from my cluster because they can pile up. I don't think they prevent a scale down, so I'm not sure what is going on there. Maybe they do slow down the autoscaler? I d

[2018-07-11 21:34] martindurant commented on #322
Error on node creation:
[code]

[2018-07-11 21:37] martindurant commented on #322
I wouldn't be sure that succeeded pods get cleared up: they should have (the equivalent of) the docker `--rm` flag applied on creation.

[2018-07-11 21:45] martindurant commented on #322
I also notice that the default-pool is in us-central1-a, but the rest of the instances are in us-central1-b. Sorry for this list of findings, all possibly unrelated.

[2018-07-11 22:00] tjcrone commented on #322
Maybe they get cleared up eventually. They do hang around for a very long time on my cluster. There are currently 646 succeeded pods on the cluster, all of which were started today. If they do prevent a scale down, could be what is slowing things down.

[2018-07-11 22:04] martindurant commented on #322
Instance numbers have started to go down. I issues a load of kubectl delete node, and then gcloud delete instance commands, as well as resize ones that seem to be pending. I don't know whether any have had any effect, or whether the system is just catching up with work now.

[2018-07-11 22:16] mrocklin commented on #334
cc @martindurant

On Wed, Jul 11, 2018 at 4:03 PM, Jiawei Zhuang <notifications@github.com>
wrote:

[2018-07-11 22:23] martindurant commented on #334
The "real" way to do this kind of thing is to securely distribute your credentials (which could be refresh or temporary ones) to the cluster. In practice, if you trust your cluster to be secure, you can distribute the session credentials from the gcsfs instance in your local process. *After* performing any action with gcsfs, the `gcs.session.credentials` credentials object can be used.

I think th

[2018-07-11 22:29] consideRatio commented on #322
Hey! I read this through and the following things crossed my mind.

## Cluster autoscaler inspection
It is hard to debug whats going on in the cluster autoscaler, but this is what you can find out without access to the kubernetes master:
- https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-events-are-emitted-by-ca

## Clearing of orphaned pre-pullers
To clear a lot

[2018-07-12 01:47] JiaweiZhuang commented on #334
@martindurant Thanks! Using `gcs.session.credentials` solves the problem.

[2018-07-12 03:56] mrocklin commented on #322
I suggest that we also try to use fewer/bigger nodes at some point soon.

On Wed, Jul 11, 2018 at 5:29 PM, Erik Sundell <notifications@github.com>
wrote:

[2018-07-12 03:59] mrocklin commented on #322
Also cc @lila who might be able to upstream some of this experience to
engineers at Google.  The slowness of the default scale down behavior of
adaptive node pools (reduce the size by one node per minute) is quite
expensive for groups that have very burst-y usage patterns, such as is
common in interactive data analysis.  This has been an expensive lesson for
us.

On Wed, Jul 11, 2018 at 10:55 PM,

[2018-07-12 05:30] JiaweiZhuang commented on #334
A quick update on the read-regrid-write pipeline. I have a minimal working example here:
https://github.com/JiaweiZhuang/sparse_dot/blob/master/read-regrid-write-pipeline.ipynb

All workers are quite busy:
<img width="959" alt="screen shot 2018-07-12 at 1 05 47 am" src="https://user-images.githubusercontent.com/25473287/42613663-2599b92a-8570-11e8-902f-3d77bce729af.png">

`apply_A` is the regriddi

[2018-07-12 05:38] JiaweiZhuang commented on #334
PS: In one test I got this undesirable behavior:

<img width="930" alt="screen shot 2018-07-11 at 9 45 53 pm" src="https://user-images.githubusercontent.com/25473287/42614364-963d8186-8573-11e8-8746-740b9e7d39ab.png">

Sending out the regridding function (pure python, not data) turned out to take a long time. The entire pipeline took 5x longer than usual. But I cannot reproduce this behavior with

[2018-07-12 06:17] pbranson commented on #334
@JiaweiZhuang - that profile plot is cool! How did you produce that? At the
moment I am just using

%load_ext line_profiler from within a Jupyter Notebook

On Thu, Jul 12, 2018 at 1:30 PM, Jiawei Zhuang <notifications@github.com>
wrote:

[2018-07-12 06:21] JiaweiZhuang commented on #334
@pbranson That's in dask's dashboard: https://distributed.readthedocs.io/en/latest/diagnosing-performance.html#statistical-profiling

[2018-07-12 08:38] rabernat commented on #334
It's great to see such progress on this important problem!

A few technical comments:

It's hard to imagine when we would want to write the regridded files back to cloud storage in a realistic use case. I see the biggest use for this not for batch transcoding from one grid to another but for *lazy* regridding, e.g. for intercomparison between datasets on different grids. Writing tends to be slower

[2018-07-12 08:39] rabernat commented on #334
p.s. If you want to benchmark the read part without the write part, you can either `.persist()` the whole dataset or else do a simple reduction like `.mean().load()`.

[2018-07-12 08:44] pbranson commented on #334
Oh thanks for the link, I must have to update my distributed as the Profile
link isnt shown in my web interface (not using pangeo atm)...

On Thu, Jul 12, 2018 at 2:21 PM, Jiawei Zhuang <notifications@github.com>
wrote:

[2018-07-12 12:00] mrocklin commented on #334
I think that we should move to larger VMs, but I think that this is
orthogonal.

Note that we've experienced very odd behavior recently with GCS.  I would
not be surprised if the bad run was incidental to something on Google's
side.

On Thu, Jul 12, 2018 at 3:44 AM, Paul Branson <notifications@github.com>
wrote:

[2018-07-12 13:29] rabernat commented on #334
Why?

[2018-07-12 14:12] martindurant commented on #334
It is worth noting that the data throughput is nowhere near the network saturation for the nodes, and it should be possible to use larger machines and get the same bandwidth. However, the data download rate (~100MB/s per worker) seems to be a throttling applied by GCS, and also AWS S3. I still recommend some experimentation with a workload like this or simpler, to see if things really scale as we

[2018-07-12 18:30] JiaweiZhuang commented on #334
My group often uses regridding as a pre-processing step! The native output data from GEOS5 is on cubed-sphere, and it is common to convert them to lat-lon (often at multiple resolutions), for easy analysis later or for feeding into a lat-lon model.

For inter-comparison I would recommend doing a reduction before regridding whenever possible (see [this comment](https://github.com/pangeo-data/pangeo

[2018-07-12 18:49] JiaweiZhuang commented on #334
I am very curious to see the scaling limit of GCS and S3. The largest I/O rate on S3 I've seen before is ~50 GB/s in [blog](http://pywren.io/pywren_s3.html). What kind of throughput is Pangeo aiming for?

Looking forward to @kaipak 's benchmark!

[2018-07-12 23:06] shoyer opened #336 "verde: processing and gridding spatial data using Green's functions"
I just saw a SciPy lightning talk from @leouieda on verde:
https://www.fatiando.org/verde
https://github.com/fatiando/verde

It looks like a promising project that could be relevant to other Pangeo users. It outputs gridded datasets using xarray and they are considering integrating with dask for parallel computation.

Copied from their docs page:

![image](https://user-images.githubusercontent.com

[2018-07-13 14:45] martindurant commented on #322
Continuing to see the 500 server-error upon trying to login, even now the cluster has stabilised.
Aside from the node creation error I posted above ( `googleapi: Error 403: Quota 'ROUTES' exceeded `), I haven't seen anything amiss, the pod created and jupyter is waiting, but the hub doesn't find it. Note that I don't have access to the quotas part of the compute engine UI, so I don't know if we've

[2018-07-13 21:57] leouieda commented on #336
@shoyer I'm looking forward to incorporating more dask into the project and trying it out on a pangeo instance

[2018-07-16 13:39] jacobtomlinson commented on #335
We had some Pangeo stickers made! We'll bring them to the meeting in August!

[2018-07-16 13:52] #335 closed

[2018-07-16 14:05] niallrobinson commented on #335
Spot the sticker!

![20180716_150300](https://user-images.githubusercontent.com/2979205/42762967-a24925e0-8909-11e8-901a-cc5d38afecdb.jpg)

[2018-07-16 20:15] samanvp opened #337 "Custom deployment to GCP: Failed to start your server."
I followed [guideline](http://pangeo-data.org/setup_guides/cloud.html) to bring up a custom deployment to GCP. Everything goes as expected (BTW, thanks for clear and detailed steps) until I authenticate and try to "Start my Server". It shows the `Your server is starting up. You will be redirected automatically when it's ready for you.` for a few minutes and then fails with this error message:

In

[2018-07-16 20:19] jgerardsimcock commented on #337
[Docker hub tags for pangeo](https://hub.docker.com/r/pangeo/notebook/tags/) don't show that commit. What about deploying from a different tag?

[2018-07-16 20:40] samanvp commented on #337
I found it:
In [Upgrade Cluster](http://pangeo-data.org/setup_guides/cloud.html#upgrade-cluster) section one can update the helm chart version. For some reason [some the versions](https://pangeo-data.github.io/helm-chart/) are missing the corresponding [Docker hub tags for pangeo](https://hub.docker.com/r/pangeo/notebook/tags/).

Make sure select a version that also has a tag.

[2018-07-18 08:29] #236 closed

[2018-07-18 09:34] rabernat commented on #257
I am reopening this issue because I can no longer import `cftime` on pangeo.pydata.org:
[code]

For reference

[code]

Somehow the docker images must have dropped this version constraint.

[2018-07-18 13:20] dazzag24 commented on #82
I'd be interested in seeing Pangeo on Azure and would also add that I think the blob store is a better option than the datalake.  I have some ability to help test things on my Azure instance.

[2018-07-18 13:59] martindurant commented on #82
Why blob rather than datalake? Given that the latter already has a library, and I'm not sure how well bytes-range requests are supported in blob, I would go with the one we know.

[2018-07-18 17:06] dazzag24 commented on #82
For starters datalake costs more than twice as much as blobstore.

[2018-07-18 17:09] dazzag24 commented on #82
See comparison here: https://docs.microsoft.com/en-us/azure/data-lake-store/data-lake-store-comparison-with-blob-storage

[2018-07-18 17:11] martindurant commented on #82
Datalake: "Optimized storage for big data analytics workloads", "Hierarchical file system", "No limits on account sizes, file sizes or number of files", seems like the obvious win.

[2018-07-18 17:13] tjcrone commented on #82
I have a Pangeo [deployment](https://github.com/tjcrone/pangeo/tree/pycamhd/azure) on Azure. Works great. In terms of interfacing with storage, I have a zarr [fork](https://github.com/tjcrone/zarr/tree/abs_store) with an abs_store function that works well with Azure blob. Other storage options work as well, including storage to GCP. Happy to answer any questions.

[2018-07-18 19:53] akarve commented on #162
In theory, yes. You can put any bits in and then use the `asa=` callback to call a custom deserializer. We're going to make deserialization even easier in the future. It seems [people are already using Quilt + netcdf](https://twitter.com/story645/status/1019448992583864320).

In practice, if you provide me with an example of data-roundtrip that you'd like to accomplish with Quilt using netcdf data

[2018-07-18 19:58] akarve commented on #162
To give you a concrete example, suppose`netcdf()` is a deserializer, you could do something like this:
[code]

[2018-07-18 22:11] rsignell-usgs opened #338 "dask worker name is now 'jovyan"
My dask worker pod names used to start with `dask-rsignell-usgs`, but now they start with `dask-jovyan`:
[code]
I guess this happened when I updated the helm chart at some point.  I'm currently at:
[code]
What is confusing is that in the container, I see environment variables that would seem to specify the dask worker name with my juptyerhub_user name.
[code]
Any ideas?

[2018-07-18 22:16] mrocklin commented on #338
The dask-specific environment varibles are somewhat old.  Dask went through
a breaking change with configuration in 0.18.0.  See
http://matthewrocklin.com/blog/work/2018/06/14/dask-0.18.0

Full configuration docs: http://dask.pydata.org/en/latest/configuration.html

Dask-kubernetes specific:
http://dask-kubernetes.readthedocs.io/en/latest/#configuration

On Wed, Jul 18, 2018 at 6:11 PM, Rich Signe

[2018-07-18 22:16] rabernat commented on #338
Helm chart `0.1.1-2bd2369`, which I built today, has some issues (e.g. https://github.com/pangeo-data/helm-chart/issues/48#issuecomment-406005232). I would not recommend running it.

How are you deploying? I recommend sticking with `0.1.1-85dc5c9` for now until these issues have been resolved.

[2018-07-18 23:21] rsignell-usgs commented on #338
@mrocklin , awesome.   I edited my `~/.config/dask/kubernetes.yaml` to contain these lines:
[code]
and now I've got:
[code]

@rabernat, I'm upgrading using:
[code]

[2018-07-19 14:01] rabernat opened #339 "CMIP6 Model Analysis Workshop"
https://cmip6workshop19.sciencesconf.org/

Barcelona Supercomputing Center (BSC), Barcelona (Spain)
The workshop is jointly organized by the WCRP Working Group on Coupled Modelling (WGCM) CMIP Panel and the European Commission Horizon 2020 project PRIMAVERA (PRocess-based climate sIMulation: AdVances in high-resolution modelling and European climate Risk Assessment) and EUCP (European Climate Pred

[2018-07-19 14:31] rabernat commented on #272
I would like to move forward on this issue. @jacobtomlinson: can you share the Dockerfiles and related scripts which allow you to use a single image for both notebook and worker. Currently we have the following:
- https://github.com/pangeo-data/helm-chart/blob/master/docker-images/notebook/Dockerfile
- https://github.com/pangeo-data/helm-chart/blob/master/docker-images/notebook/prepare.sh
- https:

[2018-07-19 15:31] mrocklin commented on #272
I think that our notebook image is based off of jupyter's base-notebook
image

On Thu, Jul 19, 2018 at 11:26 AM, Jacob Tomlinson <notifications@github.com>
wrote:

[2018-07-19 15:39] jacobtomlinson commented on #272
Yeah looks like it. Ours is based of the scipy one, which I think is based off the base-notebook and adds scipy and some other packages.

I assumed that all the jupyter images eventually tree up to miniconda, but it turns out the are starting from ubuntu and installing miniconda (which is basically what the miniconda image does anyway).

https://github.com/jupyter/docker-stacks/blob/master/base-no

[2018-07-19 15:41] jacobtomlinson commented on #272
It will cause the example notebooks to be cloned onto all the workers at run time. But that can be removed later.

[2018-07-19 15:47] jacobtomlinson commented on #338
This was originally being set by an environment variable in dask-kubernetes when it was called daskernetes (`DASKERNETES_WORKER_NAME: "dask-{JUPYTERHUB_USER}-{uuid}"`).

Some changes went in a while back to get it to use the dask config instead. Hence the breaking change. You may want to check your `jupyter-config.yaml` and remove `DASKERNETES_WORKER_NAME` if it's still in there, just to be tidy 😄

[2018-07-19 15:47] #338 closed

[2018-07-19 15:57] jacobtomlinson commented on #82
I guess blob is similar to S3 and GCS in that it is an object store. Azure datalake is trying to honor the traditional paradigm of hierarchical file systems to make you feel more like you're using an HPC parallel filesystem. It really wouldn't surprise me if datalake is backed by blob and is charging a premium for a file storage paradigm people are already comfortable with.

@tjcrone it would be g

[2018-07-19 16:01] jacobtomlinson commented on #339
This is geographically close to us and we are involved in PRIMAVERA (and CMIP6). So I expect there will be a group of Met Office folk going.

I'll explore whether we can get some Met Office Pangeo representation.

[2018-07-19 16:41] martindurant commented on #82
@jacobtomlinson , the critical thing that we need is, can we access a random set of bytes within a blob? If not, then files can only be loaded in their entirety, which is not what any of the other FileSystems do, except for HTTPFileSystem. S3 and GCS also only simulate file hierarchies, as you say, I would expect that probably they are all identical in their backend implementations.

[2018-07-19 17:11] kaipak commented on #337
I am also running into issues with the latest Helm chart releases and had to revert to earlier versions. I see that a new release just came out (v0.1.1-2d5c8b4) and so far, that seems to start up without issue.

[2018-07-19 19:30] tjcrone commented on #82
Blobs usually have http endpoints, and in the case of Google Drive, can definitely handle byte ranges. I'm not sure about whether S3 or Azure blob can handle byte ranges but it looks like Azure [might](https://docs.microsoft.com/en-us/rest/api/storageservices/specifying-the-range-header-for-blob-service-operations). Performance in this mode is obviously a question that would need to be explored.

[2018-07-19 19:41] tjcrone commented on #82
@jacobtomlinson, in my fork of zarr I implemented a [mutable mapping](https://github.com/tjcrone/zarr/blob/abs_store/zarr/storage.py#L2068) that creates the ABSStore object for use with xarray.to_zarr, using the official Azure storage library. Minimal, but functional. Expanding this to an entire FS is an interesting idea, but is it worth doing since there is already a fairly capable storage librar

[2018-07-19 19:54] martindurant commented on #82
It would be cool if this were referenced in `dask.bytes.core.get_mapper()` (which does *not* include adlfs, as it has no mapper), it would become more generally available to people wishing to use zarr-on-azureBlob with dask-arrays.

[2018-07-19 20:07] mrocklin commented on #82
What is the right way to expose the existing Azure Blob Store
MutableMapping?  Should this be made generic from Zarr and from Dask as an
external package?

On Thu, Jul 19, 2018 at 3:54 PM, Martin Durant <notifications@github.com>
wrote:

[2018-07-19 20:11] martindurant commented on #82
I imagine it should be an external package. If it is usable with zarr already, it should be seamless with dask or xarray, since you can pass a mapper object directly. `get_mapper` would only need to import it for `da.from_zarr` if using a URL like `abs://` (guessing what the right protocol name for azure blob store might be).

[2018-07-19 21:14] alimanfoo commented on #82
FWIW I'd be happy with the azure blob store mapping class living in its own
package or within the zarr.storage module. It's a relatively small amount
of code, might feel like high overhead to create a package just for that.

On Thursday, 19 July 2018, Martin Durant <notifications@github.com> wrote:

--
If I do not respond to an email within a few days, please feel free to
resend your email and/or

[2018-07-20 00:42] shoyer commented on #162
We would typically do this with xarray, e.g.,
[code]

[2018-07-20 02:55] akarve commented on #162
Thanks. I can confirm that it is possible to round-trip xarray Datasets. Here's [a notebook](https://github.com/quiltdata/examples/blob/master/netcdf/NetCDF.ipynb).

It takes more lines of code than I'd like to complete this round trip, but future versions of Quilt will get this close to two lines of code.

[2018-07-20 05:29] rsignell-usgs commented on #335
Nice recorded [Scipy 2018 talk on Pangeo](https://www.youtube.com/watch?v=2rgD5AJsAbE) by @jhamman

[2018-07-20 07:36] jacobtomlinson commented on #82
I think it would be neat to be a separate package, partly just because it allows people to mentally compare it with S3FS, GCSFS, ADLFS, etc. I appreciate it is just the `MutableMapping` part for now, but could be extended to cover the whole python filesystem interface.

@martindurant I know that S3 definitely support range gets (we use them in [pysssix](https://github.com/informatics-lab/pysssix)

[2018-07-20 08:03] dazzag24 commented on #82
I think Azure PageBlobs support range reads.  See Python docs on the get_page_ranges() function [here](https://azure.github.io/azure-storage-python/ref/azure.storage.blob.pageblobservice.html):

[2018-07-20 08:47] #245 closed

[2018-07-20 08:47] #248 closed

[2018-07-20 08:47] #244 closed

[2018-07-20 08:47] #243 closed

[2018-07-20 08:47] #234 closed

[2018-07-20 08:47] #232 closed

[2018-07-20 12:45] martindurant commented on #82
Ah I do indeed vaguely remember there being multiple types of blobs.

[2018-07-20 12:47] #247 closed

[2018-07-20 13:29] tjcrone commented on #287
Also working fine for me. Try kernel > restart kernel. Is a kernel listed in the upper right?

[2018-07-20 13:41] dazzag24 commented on #287
I created account 2 days ago I think.
http://pangeo.pydata.org/user/dazzag24/lab?

On Fri, 20 Jul 2018 at 14:26, Martin Durant <notifications@github.com>
wrote:

[2018-07-20 13:43] dazzag24 commented on #287
@tjcrone I've restarted kernel several times.  I see several kernels listed:
Python [conda env:conda]
Python [conda root]
Python [default]
plus some more...

[2018-07-20 13:45] dazzag24 commented on #287
If I execute a cell I see the
In [*]
appear, but it never completes and turns into the
In [<integer>]
form

[2018-07-20 13:47] tjcrone commented on #287
There should be only one kernel shown (selected) in the upper right near the open circle. Which one is showing?

[2018-07-20 13:51] tjcrone commented on #287
Also which notebook/cell are you trying to run?

[2018-07-20 14:02] dazzag24 commented on #287
Trying to run the first cell in this workbook.
http://pangeo.pydata.org/user/dazzag24/lab/tree/examples%2Fxarray-data.ipynb

but problem is the same for any of the samples.

On Fri, 20 Jul 2018 at 14:51, Tim Crone <notifications@github.com> wrote:

[2018-07-20 14:04] tjcrone commented on #287
And what kernel do you have selected?

[2018-07-20 14:05] martindurant commented on #287
Can you try opening a terminal in jupyterlab and manually running python?

[2018-07-20 14:09] dazzag24 commented on #287
@tjcrone Python [ default ] is selected
@martindurant The terminal opens, but doesnt respond to any input

[2018-07-20 14:10] martindurant commented on #287
Have you tried reloading the page or logging out and back in again? Worth trying the simplest things first...

[2018-07-20 14:12] martindurant commented on #287
Errors in your pod: `SingleUserNotebookApp zmqhandlers:185] WebSocket ping timeout after 90000 ms.`

[2018-07-20 14:12] tjcrone commented on #287
I recommend restarting your server. Go to Help > Launch Classic Notebook, click the control panel button in the upper right, then click stop my server and then click the logout button in the upper right. Close any/all Pangeo windows tabs. Reopen pangeo.pydata.org, login, and see if things have resolved.

[2018-07-20 14:14] dazzag24 commented on #287
I have closed and reopened the window yes.  Re: logout and login again, where is the logout option??

[2018-07-20 14:18] dazzag24 commented on #287
@tjcrone Ah, thanks for that advice.  I was looking for some kind of control panel / settings... but could not see anything useful in the JupyterLabs UI.

[2018-07-20 14:19] martindurant commented on #287
@tjcrone 's instructions would be more complete, but a simple log out/in can be done by changing the final part of your URL (`/lab?redirects=2` or something) to `/logout`.

[2018-07-20 14:34] tjcrone commented on #287
Right. However a logout will not restart the server. The server will remain running for some (fairly long) time, and when you log back in, you will connect to the same running server. To restart, follow the directions above.

@dazzag24, is it working now? I see that you restarted your server.

[2018-07-20 14:47] #252 closed

[2018-07-20 15:58] dazzag24 commented on #287
Current status is that when executing the first cell in the the xarray-data example I receive this error:
Server Connection Error
Unexpected token < in JSON at position 3

[2018-07-20 16:10] tjcrone commented on #287
I'm seeing some weird GET requests to the service on nodes that do not currently exist. I'm thinking that you may need to clear your cache for Pangeo. So I would restart your server as per above, then clear your cache, or try again with a private window which is one way of testing things without cached data. What browser are you using?

[2018-07-20 17:02] dazzag24 commented on #287
Latest Chrome on Ubuntu 16.04

On Fri, 20 Jul 2018, 17:10 Tim Crone, <notifications@github.com> wrote:

[2018-07-20 18:31] rabernat commented on #287
I have a hunch that this is related to a proxy issue. Are you behind a restrictive firewall or at a hotel?

Sent from my iPhone

[2018-07-20 18:46] dazzag24 commented on #287
I've just signed in with Firefox at home and it seems to work fine.
I'll now clear my cache in chrome and see if that sorts it.
Thanks everypone for all your help

[2018-07-20 18:55] dazzag24 commented on #287
@rabernat You might be onto something. I've just tried using Chrome (same laptop but now I'm at home) and it now worked.
What ports do you think the WiFi at work is blocking?   I haven't noticed issues with other websites.

[2018-07-20 19:46] martindurant commented on #321
The repo moved, so the issue is now https://github.com/pangeo-data/pangeo-example-notebooks/issues/1

[2018-07-22 17:41] dazzag24 commented on #287
I'll take a look next time I'm in the office and see if I can figure out
which request are being blocked.

On Sun, 22 Jul 2018, 16:29 Ryan Abernathey, <notifications@github.com>
wrote:

[2018-07-22 21:36] #218 closed

[2018-07-23 10:41] mzjp2 commented on #287
I have the same issue behind the office firewall. This is what the console spits at me when trying to run a cell in a notebook:
[code]

[2018-07-23 20:32] jhamman commented on #283
I've made some recent progress setting up a pangeo/binder thing. I currently need some help working through the (dask)kubernetes permissions from inside my notebook session.

link to live deployment: [![Binder](http://35.185.197.178/badge.svg)](http://35.185.197.178/v2/gh/jhamman/xarray_tutorial/master)

In this environment, we have:
- a worker template file with the image name equal to that of th

[2018-07-23 20:41] betatim commented on #283
The idea of pushing your image to dockerhub and then putting that name into your worker template sounds like a good idea. Even though you already have your solution.

We recently created some examples of how to use `repo2docker` to build your repo's image as part of your CI and then push it to dockerhub. The original motivation was to have tests that check your repo still works with Binder, but mi

[2018-07-23 20:47] jhamman commented on #283
Thanks @betatim. Right, at this time I'm pushing the image to GCR but could swap out with dockerhub later on. The sticking point at the moment is initializing the dask kubernetes cluster within a binder notebook.

[2018-07-24 20:53] rsignell-usgs commented on #145
@rabernat & @jhamman, I'm ready to submit at PR for this Hurricane Ike example notebook, but I'm not at all sure where!

[2018-07-24 20:55] martindurant commented on #145
Into https://github.com/pangeo-data/pangeo-example-notebooks ?

[2018-07-27 02:48] ahuang11 opened #342 "Machine learning example not running straight out from the box"
Machine learning example initially says missing req.

[code]

[code]

[code]

But even after pip installing, it still crashes. I think might be related to sklearn==0.0?

[2018-07-27 03:35] ahuang11 opened #343 "Contributing / Patching Notebooks"
It's not too clear where one can contribute examples, or just patch the previous ones.

- [ ] Took me a bit of time to find https://github.com/pangeo-data/pangeo-example-notebooks Perhaps could drop a link to that Github repo somewhere here? http://pangeo-data.org/quickstart.html#contribute-a-use-case

- [x] Initially, I tried looking at https://github.com/pangeo-data/pangeo/tree/master/notebooks

[2018-07-27 04:07] ahuang11 commented on #342
Duplicate of https://github.com/pangeo-data/pangeo-example-notebooks/issues/1

[2018-07-27 04:07] #342 closed

[2018-07-27 10:21] rsignell-usgs commented on #39
A more general and scalable way to create a catalog for Pangeo would be to create ISO metadata records for each Pangeo dataset and harvest them into [pycsw](http://pycsw.org/), which would then support catalog search using CSW, the Open Geospatial Consortium Catalog Service for the Web.

Users could then search for Pangeo datasets across multiple pangeo deployments, and also would provide a mechan

[2018-07-27 13:42] martindurant commented on #39
@rsignell-usgs , Do you see a role for Intake in this supra-cataloging that you describe? Should it be able to interact with CSW, or should it have a role in extracting appropriate metadata from netCDF/zarr files?

[2018-07-27 18:16] rsignell-usgs commented on #39
I don't know much about Intake, but I guess Intake catalogs could be constructed from the responses to CSW queries if that is useful.

[2018-07-27 20:53] #266 closed

[2018-07-27 20:59] rsignell-usgs commented on #71
Okay, I sent @scottyhq an invite.   We had some issues on http://esipfed.pangeo.org the last few days, but I think we just straightened them out, thanks to a lot of help from @tjcrone.  We had to back off of the jupyter base image we were using to get the dask dashboard to work.   Here's our setup for the notebook image (and worker -- we are using the same image for both):
https://github.com/rsign

[2018-07-30 14:51] rsignell-usgs commented on #78
I think this was mentioned before, but what do folks think about making the logo on the splash screen smaller (say half the size) to cut down on all the white space and allow for more description?  This is how it currently loads on my computer -- doesn't even get the first sentence in there...

![2018-07-30_6-51-50](https://user-images.githubusercontent.com/1872600/43404838-7536f16c-93e6-11e8-8791

[2018-07-30 16:40] rabernat commented on #78
My hours as a web designer have been thoroughly exhausted...I welcome any pull requests with changes to the site design. I was hoping that the met office folks (e.g. @meganfitzsimons) might take a stab at this once this site was launched.

[2018-07-30 17:03] rsignell-usgs commented on #78
@rabernat , okay I'll try to figure out where to put:
[code]
and submit a PR.

[2018-07-31 15:49] tjcrone commented on #82
There are a few functions that will raise a NotImplementedError, so you will see those. But yes, it does read and write zarr, just fine. An example of using this can be found near the bottom of this [notebook](https://github.com/tjcrone/rte-camhd/blob/master/tim/xarray_tozarr.ipynb). The credentials import is just a file that has my account name and key in it. I would make this a yaml file and yam

[2018-07-31 16:13] ksulia opened #345 "Dask on Cheyenne -- workers killed instantly"
Good morning!  I apologize if this topic has already been addressed, if so, please point me in the right direction!

I have a python code that I am attempting to run in parallel on Cheyenne (have been using pool previously, but still too slow on local machine).  I have followed the instructions on the Dask Cheyenne wiki page exactly (other than account-specific data), and have made it all the way

[2018-07-31 16:55] jhamman commented on #345
@ksulia - I'm glad to hear your giving dask a go on Cheyenne. Are you following these instructions: http://pangeo-data.org/setup_guides/hpc.html

The dask-jobqueue approach is likely the best (most stable/common) choice on Cheyenne right now.

[2018-07-31 16:58] jhamman opened #346 "Clean-up / remove wiki pages"
We have a handful of wiki pages that are growing stale. Especially since we've moved to the new documentation website. This seems to be causing some users (#345) some pain. Which of these do we need to keep:

- Getting Started with Dask on Cheyenne
- Getting Started with Dask on Google Clould Platform
- Launch development cluster on Google Cloud Platform with Kubernetes and Helm
- NCAR CISL Comput

[2018-07-31 19:33] jhamman opened #347 "Jupyter Community Workshop Proposal"
Project Jupyter has an [open call](https://blog.jupyter.org/jupyter-community-workshops-cbd34ac82549) for community workshops. The deadline has been [extended](https://blog.jupyter.org/deadline-extension-jupyter-community-workshops-9ff760d4e66c) through August 6.

Individual awards seem to be targeting the $10k-20k range. If anyone is interested in putting together a proposal for a Pangeo-Jupyter

[2018-07-31 23:28] kmpaul commented on #76
Do we have a call tomorrow morning (US) / afternoon (UK)?

[2018-08-01 00:46] ksulia commented on #345
@jhamman -- Thank you!  The dask-jobqueue option worked perfectly.

[2018-08-01 02:26] jhamman commented on #345
Glad to hear it @ksulia. Okay to close this issue?

[2018-08-01 07:05] jacobtomlinson commented on #76
I'm more than happy to have a call. However with the general meeting only about 10 days away perhaps we should save it for then?

[2018-08-01 10:46] kmpaul commented on #76
I’m fine saving it for a couple weeks.

On Wed, Aug 1, 2018 at 1:05 AM Jacob Tomlinson <notifications@github.com>
wrote:

--
*Kevin Paul, PhD*
Project Scientist, Head of I/O & Workflow Applications (IOWA)

The National Center for Atmospheric Research
Computational and Information Systems Laboratory
1850 Table Mesa Dr
Boulder, CO 80305

Phone:  (303) 497-2441
Office:  ML460B

[2018-08-01 12:12] tjcrone opened #348 "Custom User Notebook Images on Login"
Has anyone used the [wrapspawner](https://github.com/jupyterhub/wrapspawner) with jupyterhub? I wonder if this could be leveraged to allow users to choose the single-user image during the login process.

[2018-08-01 13:53] kmpaul commented on #76
Ok.  I haven't heard from anyone on this except @jacobtomlinson.  I think @rabernat is traveling, and we are all going to be meeting face-to-face in less than 2 weeks.  So, let's cancel this call this morning.  ...Unless anyone has any critical issues to discuss?

[2018-08-01 13:54] mrocklin commented on #76
+1

On Wed, Aug 1, 2018 at 9:53 AM, Kevin Paul <notifications@github.com> wrote:

[2018-08-01 18:43] ksulia commented on #345
@jhamman Yes thank you!

[2018-08-01 19:28] #345 closed

[2018-08-02 12:53] dazzag24 commented on #82
@tjcrone I took your branch of zarr and managed to successfully load some zarr data from the blobstore using a Standard D8s v3 (8 vcpus, 32 GB memory) instance running Ubunt 16.04. Python 3.5.2

import xarray as xr
import zarr

absstore = zarr.storage.ABSStore('test', '2011_foo.zarr', 'zzzzzz', 'xxxxx')
ds = xr.open_zarr(absstore)

Takes approx 137 seconds.

The zarr file is an 80Gb collection of

[2018-08-02 13:15] martindurant commented on #82
This is the same issue as we have seen for gcsfs-based zarr, and occurs because xarray traverses all levels of the file hierarchy to read the .z* files at every level. See the discussion in https://github.com/zarr-developers/zarr/pull/268 - it should be possible to put all of the metadata into a single location and not have to do `contains`, at least in the case of write-once-read-many datasets.

[2018-08-02 13:25] martindurant commented on #82
I haven't looked at the blob code, I'm sure that's possible, but you would still need to list all the files at some point, and would still need to open and read every one of the small files. With https, there is a minimum cost to each call of 100ms for google machines talking to google store - I imagine azure is similar.

[2018-08-02 13:35] dazzag24 commented on #82
In my case while I have many small files in the zarr "file" on blob store, only 15 or so of them are .z* files.  At file open time my understanding is that it only needs to read the .z* files not all the files? Or am I wrong?
I thought it only reads the compressed chunks when you actually start to use the data in the arrays.

[2018-08-02 13:36] martindurant commented on #82
Correct, I meant the small .z* metadata files. However, your data files should not be too small either - since you are listing files here, the total number of all files might be important.

[2018-08-02 13:39] dazzag24 commented on #82
Listing all the blobs using list_blob() would be a handful of API calls depending on the batch size.  Something like:

[code]
Compared to the 16K calls it is making now.

[2018-08-02 13:39] tjcrone commented on #82
@dazzag24, your memory idea is an interesting work-around, and might work. However I think it would be much better to have a solution that lives higher up the chain because there really should be a better approach than looking for a .zarray inside every blob. However, solving this inside the MutableMapping might get around many of the issues being discussed in zarr-developers/zarr#268. This would

[2018-08-02 13:40] dazzag24 commented on #82
BTW @tjcrone We've found some bugs in getsize() as well.  We are working on a fix.  Pull request to follow.

[2018-08-02 13:40] mrocklin commented on #82
Collecting all metadata into a single file is going to be necessary for
large datasets anyway.  This seems to me like the right path forward
long-term.  Having metadata scattered throughout many small files in a
large dataset won't scale well.

@martindurant has done this process manually for some particular zarr files
and it seems to have solved the problems that you're running into.  It
seems li

[2018-08-02 13:43] dazzag24 commented on #82
@mrocklin @martindurant Combined metadata approach is good solution.  When would this likely be in a released version?

[2018-08-02 13:48] dazzag24 commented on #82
@tjcrone Do you know the likelihood of your ABSStore MutableMapping getting pushed upstream? and the likely timescales?

[2018-08-02 13:50] tjcrone commented on #82
This discussion is probably best continued in zarr-developers/zarr#268, but one idea would be to have the MutableMapping return a metadata structure that it constructs using whatever tools it has available to it, which in the case of ABSStore and @rabernat's GCSStore could be done quite efficiently with perhaps just one API call, so that zarr can use this metadata for the entirety of a read operat

[2018-08-02 13:54] tjcrone commented on #82
There was some discussion of the ABSStore in https://github.com/zarr-developers/zarr/issues/255, and I think @alimanfoo is quite amenable to folding it in. I just think it requires more testing and some documentation. But my guess is that the timeline could be quite short if we push on it hard.

[2018-08-02 14:08] jacobtomlinson commented on #198
I started exploring this again and thought I'd post an update. I wanted to create a more sensible test, so I converted ~80GB of netCDF data into zarr and then timed taking a mean through various access methods with a 100 worker dask cluster.

The three methods I've tried all involve loading the same zarr using xarray.

- [s3fs](https://github.com/dask/s3fs) - directly access S3
- [goofys](https://

[2018-08-02 14:12] mrocklin commented on #198
I wouldn't expect the Python/Go interpretted/compiled difference to make any significant difference when the task is pulling down MB+ chunks from the web.  We're not doing anything CPU-intensive here.

Similarly I'm not sure that FUSE inherently produces any direct overhead.

I suspect that the costs here are incidental to the implementations at hand, and not due to the underlying choice of techno

[2018-08-02 14:13] mrocklin commented on #198
Some questions I would have:

1.  What about all of the other stuff going on here, like compression?  What fraction of the time is spent in gathering data vs decompressing or decoding?  What are the worker threads actually doing here?
2.  Are we saturating bandwidth in any of these cases?

To help answer these questions I would usually use the Dask dashboard.  In particular the following two pages

[2018-08-02 14:14] mrocklin commented on #198
To expand on the Python comment, we often say things like "Python + Numpy is fast because all Python is doing is calling C code, which is fast".  Similarly with network traffic "all Python is doing is asking a socket to send or recv data, which is as fast as the system call can make it"

[2018-08-02 14:18] ah- commented on #198
It might also be different block sizes for prefetching, I think s3fs requests something like 5MB at once.

[2018-08-02 14:20] martindurant commented on #198
True, but I expect that zarr requests whole data files only for this workflow.

[2018-08-02 14:28] alimanfoo commented on #82
Very happy to move forward on the consolidated/combined metadata feature, I
think we're converging on a way forward.

Also happy to have ABSStore come into zarr if that would be the most
convenient way to go, if someone is happy to come on board as a zarr core
dev to maintain it.

In addition to the above, I do wonder if all of those contains() calls are
necessary. Would be worth looking at that s

[2018-08-02 15:39] tjcrone commented on #82
@alimanfoo and @mrocklin, do you think it would be a terrible idea to at this stage have zarr ask the MutableMapping for metadata, and provide it in some way so that zarr wouldn't have to hit every blob with contains(), and then perhaps at a later date if it is seen as necessary, alter the zarr structure to contain metadata which the MutableMappings could draw from? For MutableMappings that cannot

[2018-08-02 15:51] mnlevy1981 opened #351 "Plotting POP (ocean model) output"
I've created a gist that walks through the issue I'm having:

https://gist.github.com/mnlevy1981/ec33c5aa74c27804d5e0a5ac045885b6

To summarize, if I use `xarray` to read a POP history file and then run `DataArray.plot()`, Greenland shows up at the top of the plot because of POP's displaced pole grid. If I use `DataArray.plot.pcolormesh()` then I think `xarray` tries to interpolate across missing

[2018-08-02 16:11] ahuang11 commented on #351
`How do I tell pcolormesh() that the data is periodic in x?`

You can fix the seam running down the middle with `cartopy.util.add_cyclic_point` https://scitools.org.uk/cartopy/docs/v0.15/cartopy/util/util.html

See https://gist.github.com/darothen/c7560d8d19ffca90024c1f2df4927599 for an example.

[2018-08-02 16:14] martindurant commented on #82
Yes, that is exactly what I am proposing, and now working on.

[2018-08-02 16:20] rabernat commented on #351
Hi @mnlevy1981 -- thanks for reaching out to the pangeo community. We are happy to help you get this problem! It sounds like @ahuang11 may have a solution?

If not, I would really recommend you re-post the same question on the xarray issue tracker, as it is fundamentally an xarray issue:
https://github.com/pydata/xarray/issues

You will have more success there if you can simplify your problem to a

[2018-08-02 16:30] mnlevy1981 commented on #351
@ahuang11 Thanks for pointing out `add_cyclic_point` (I didn't think to use "cyclic" instead of "periodic" in my search terms!) -- unfortunately, it looks like it doesn't play nicely with 2D coordinates?

[code]

leads to

[code]

@rabernat Cool, I'll spend a little more time converting the gist to a slimmed down version in a repository (including a small dataset) and repost to the xarray issue pa

[2018-08-02 16:49] ahuang11 commented on #351
Maybe relevant resources for 2D coordinates?
https://github.com/SciTools/cartopy/issues/398
http://nbviewer.jupyter.org/gist/pelson/6219116

[2018-08-02 20:06] ksulia opened #352 "Running Dask on Cheyenne remotely"
@jhamman Thanks again for your help before! Bit of a followup question:

Is there a way to submit a (longer) python job without the hub/lab disconnecting from the server if wifi cuts out, similar to what would be done when submitting a WRF job, for example?

I was thinking there would be a way to request workers then run the code all within a python script via command and without using Jupyter Not

[2018-08-02 20:25] martindurant commented on #39
Finally announcing intake officially: https://www.anaconda.com/blog/developer-blog/intake-taking-the-pain-out-of-data-access/

[2018-08-02 20:27] martindurant commented on #162
Intake now officially being circulated: https://www.anaconda.com/blog/developer-blog/intake-taking-the-pain-out-of-data-access/
Intake-xarray *almost* supports streaming from an Intake server :)

[2018-08-02 20:38] mnlevy1981 commented on #352
It sounds like the problem is that you are running `jupyter lab` from an interactive session, so when you lose wifi that session closes and jupyter shuts down. If that really is the issue, one way around it is to submit a job to they cheyenne queue to run `jupyter lab` or `start-jlab` rather than running it after running `qinteractive`. I have an extremely rough bash script to do just that in my p

[2018-08-03 07:43] jacobtomlinson commented on #198
@mrocklin

In the example zarr I used there is no compression. The main different between the profile of the different methods is the time spend in `__getitem__` in the zarr storage module.

<img width="1067" alt="image" src="https://user-images.githubusercontent.com/1610850/43630788-35053188-96f9-11e8-8090-caefe9fec8c5.png">

As for network use workers seem to get up to around 100MiB in `read_byt

[2018-08-03 15:14] mnlevy1981 commented on #351
It took a little bit of playing in cartopy, but rather than trying to force the data to be treated as cyclic, I was able to use the `central_longitude` option of the transformation to move the seam to the edge of plot:

https://github.com/mnlevy1981/cartopy-issue/blob/master/cartopy-example.ipynb

I wouldn't be surprised if I need `central_longitude` to be a different value for the 1 degree resolu

[2018-08-03 15:14] #351 closed

[2018-08-03 18:58] kaipak commented on #198
I just did a fairly major refactor on `storage-benchmarks` so please excuse the lack of fancy plots at this time. I've been getting fairly similar results on GCP. Part of the changes I've implemented include some variety in size of dataset as I get different results due to up-front overhead costs. Essentially, I have ~10/100/1000 GB dataset sizes to run IO tests against.

For example for the ~110

[2018-08-03 19:33] kaipak opened #353 "storage-benchmark updates"
Apologies for lack of updates recently as I've been a bit nomadic since the start of summer. After completing my master's program at Columbia, I moved back to good old Portland, Oregon, went travelling a bit, and spent a lot of time settling back into family life and finding a job. A few weeks ago, I was finally able to put in a significant amount of time into this project.

Some of you may recall

[2018-08-04 09:56] #273 closed

[2018-08-06 12:51] NickMortimer commented on #199
Hi All, just checking it to say see you next week! Thinking of going to hire an ebike! or just a standard bike need the exercise! my number is +61431720127 if any one wants to find me on whatsapp!

[2018-08-06 14:15] jacobtomlinson commented on #198
@kaipak looks interesting? Out of curiosity which FUSE driver were you using?

[2018-08-07 02:05] martindurant commented on #296
In case anyone is interested, Intake does off the concept of data packages also: https://intake.readthedocs.io/en/latest/data-packages.html

[2018-08-07 03:29] martindurant commented on #301
Just noticed this because of the stale notification.
Given that Intake already parses such yaml files, generating any list would be easy. What didyou have in mind, @rabernat ?

[2018-08-08 19:45] tdenniston commented on #120
Hello again, we had some spare cycles to work on some benchmarking of TileDB, and we have some preliminary results to share with you. We put together a small [Jupyter notebook](https://github.com/TileDB-Inc/tiledb-benchmarks/blob/master/bcolz-zarr/slicing-benchmarks.ipynb) comparing TileDB with Zarr and bcolz on AWS S3 and local disk. We were able to see some nice speedups on S3 with TileDB. We'd

[2018-08-08 19:51] martindurant commented on #120
Am I correct in thinking that speedups with s3 are due mostly to thread-wise parallelism? i.e., is the appropriate benchmark zarr via Dask?

[2018-08-08 20:42] shoyer commented on #120
Yes, I think the appropriate benchmark for zarr would be using dask.

[2018-08-08 20:50] jakebolewski commented on #120
Yes, multithreaded parallelism is big component of the performance difference on S3.  Another is batched writes which results in a bounded number of objects created on s3 (enabling finer grained chunking / tiling which limits the amount of wasted work) that does not grow with the array size (as in the case of zarr).

We have not benchmarked including Dask in the interest of establishing a baseline

[2018-08-08 21:03] jakebolewski commented on #120
@shoyer Zarr uses Bcolz / Blosc which does parallel (de) compression using a thread pool.  TileDB uses Intel's TBB to do parallel compression / decompression (among other things)  and a VFS thread pool for parallel IO for S3 and other backends.  For local file systems (de) compression is usually the bottleneck, on S3 it is a little more balanced (with parallel range requests you can get really goo

[2018-08-08 21:05] mrocklin commented on #120
It might be useful to profile the Zarr code using Python's normal cprofile
utilities to get a sense for what is taking up time.  In a jupyter notebook
I usually use the `%%prun` magic when sharing with others, or the
`%%snakeviz` magic when I have my own local browser.

On Wed, Aug 8, 2018 at 5:03 PM, Jake Bolewski <notifications@github.com>
wrote:

[2018-08-09 13:07] jacobtomlinson commented on #237
Just to revisit this. @AlexHilson and @meganfitzsimons have put together an updated version of the video. We'll get it up here for a preview before the meeting next week and we can discuss it then.

[2018-08-09 14:01] alimanfoo commented on #120
Very cool to see. FWIW I think it would be fairer at least in the S3 case
to use Zarr with Dask. Zarr is designed to be used with Dask to achieve
parallel I/O, hence it does not implement any parallelism internally. Then
we could see more clearly the tradeoffs regarding the different ways that
Zarr and TileDB interact with object storage, which I expect will make a
difference depending on the use

[2018-08-09 14:03] mrocklin commented on #120
Or perhaps it would make sense to look at TileDB in a single threaded case?

On Thu, Aug 9, 2018 at 10:01 AM, Alistair Miles <notifications@github.com>
wrote:

[2018-08-09 18:36] tdenniston commented on #120
We've added some numbers to the above notebook (https://github.com/TileDB-Inc/tiledb-benchmarks/blob/master/bcolz-zarr/slicing-benchmarks.ipynb) when using Dask with Zarr. Comparing with Dask+Zarr we observed not much in terms of write performance gains (TileDB was about 1.15x faster in these experiments), but up to about 4.2x improvement with TileDB in the "single-cell" read tests. Note that thes

[2018-08-09 19:14] rabernat commented on #120
Very cool to see this progress! Following with great interest.

[2018-08-10 14:43] rabernat opened #354 "spawing problems with pangeo.pydata.org"
Over the past week, pangeo.pydata.org has been very unreliable. Numerous 400 / 500 errors (similar to #327). Most recently, this is what I see in the hub log:

[code]

I can run the following command to fix this broken state:
[code]

I have done this several times over the past week.

I am concerned about this situation but don't know what to do to fix it.

[2018-08-10 15:05] alimanfoo commented on #120
Thanks Tyler, very interesting. Looking forward to seeing results from some
larger scale tests, and to understanding more of the technical details.

On Thu, 9 Aug 2018, 19:37 Tyler Denniston, <notifications@github.com> wrote:

[2018-08-10 15:13] jacobtomlinson commented on #354
This looks like it is either notebook pods failing to start or capacity issues.

Perhaps the cluster is not scaling as quickly as it needs to? We are having the same issues on our cluster at the moment.

[2018-08-13 18:35] yuvipanda opened #355 "Brainstorming notes for JupyterLab"
# JupyterLab extension ideas

## New file renderers

- multi-dim: we're probably only going to look at metadata, not necessarily full data
    * netCDF
        - lets look at ncview
        - GRID: used for meshes
    * hdf5
    - GRIB, lots of different extensions, sort of a zoo.
- geotiff
    -  ipyleaflet may already do some nice auto-tiling
    -  do native JS viewers exist?  Something may alr

[2018-08-13 18:39] martindurant commented on #355
Intake is getting an ipywidgets browser GUI here: https://github.com/ContinuumIO/intake/pull/130

[2018-08-13 18:52] #249 closed

[2018-08-14 12:47] tjcrone commented on #348
I changed the title of this issue because I'm not sure it properly described the issue. I think that giving users the ability to choose an image on login should be pretty high priority, and the wrapspawner *might* provide this capability. Has anyone tried it?

[2018-08-14 13:16] jacobtomlinson commented on #348
I seem to remember this has been added to `KubeSpawner` a while back. I was waiting for it to make its way upstream before putting some effort it, this may have happened now.

@yuvipanda do you know if this has happened yet?

[2018-08-14 15:30] #242 closed

[2018-08-14 16:29] rabernat opened #356 "let's enumerate all the ways to represent a "grid" in python"
As discussed in the Pangeo meeting, there are currently many different models for a grid in python. Some of these are explicit, some are implicit in how packages work. I am talking about both structured and unstructured grids.

Let's try to put together a list of what these are and how they differ. For now, I will just throw out some links:

- https://www.earthsystemcog.org/projects/esmpy/
- http:

[2018-08-14 16:37] rabernat commented on #356
- https://github.com/NCAR/wrf-python

[2018-08-14 16:38] fmaussion commented on #356
I'll add "my" ``Grid`` object to the list. Note that this is not an endorsement ;-)

http://salem.readthedocs.io/en/latest/gis.html

[2018-08-14 21:43] jacobtomlinson commented on #87
I'm looking at this again during the Pangeo developer meeting sprints. Help would be appreciated!

[2018-08-14 21:49] jacobtomlinson commented on #87
It looks like we are waiting on `z2jh` 0.7 for this to make it's way upstream. However the functionality should be in `KubeSpawner` already so we may be able to add it manually for now.

[2018-08-15 12:01] rsignell-usgs opened #358 "500 errors again this morning"
![2018-08-15_8-00-44](https://user-images.githubusercontent.com/1872600/44147270-5ea5a7ea-a061-11e8-813a-710b001637bf.jpg)

(and yes, I did try starting my server again from http://pangeo.pydata.org/hub/home)

[2018-08-15 13:12] rabernat commented on #358
What are the logs in your hub showing?

[code]

[2018-08-15 14:13] rsignell-usgs commented on #358
@rabernat,  I'm getting these errors on pangeo.pydata.org, not pangeo.esipfed.org. I don't have the `kubeconfig` for pangeo.pydata.org, so I can't run `kubectl` on that cluster.

![2018-08-15_10-10-35](https://user-images.githubusercontent.com/1872600/44152432-88faa3e4-a073-11e8-80f1-81f3e6e8aa07.png)
![2018-08-15_10-12-15](https://user-images.githubusercontent.com/1872600/44152534-cc605598-a073-1

[2018-08-15 14:55] rabernat commented on #358
Ah thanks for clarifying. It's the usual thing.

[code]

Let's work with @yuvipanda to try to get to the bottom of this!

[2018-08-15 14:55] rabernat commented on #358
And @jacobtomlinson!

[2018-08-15 15:33] jacobtomlinson commented on #358
Looking now. It looks like the notebooks do start successfully, however the Hub isn't aware.

[code]

[2018-08-15 15:36] rabernat commented on #358
And it's magically fixed.

[2018-08-15 15:38] rabernat commented on #358
Can you just share the kubernetes command you used to restart only the hub?

[2018-08-15 15:44] jacobtomlinson commented on #358
To list the pods

[code]

Then find the pod name for the hub and delete it

[code]

One magic line would look like this

[code]

You can also visit the [admin page](http://pangeo.pydata.org/hub/admin) on Pangeo and click "Shutdown Hub".

[2018-08-15 15:47] jacobtomlinson commented on #358
It looks like this issue is happening because Jupyter Hub is spawning notebooks but not keeping track of them. When looking at the list of running pods it doesn't line up with the admin page in Jupyter Hub.

[2018-08-15 19:35] ashwinvis commented on #355
:+1: for netCDF (relevant https://github.com/jupyterlab/jupyterlab/issues/4184) and HDF5.

For dask, there seems to be an abandoned project: https://github.com/dask/dask-labextension

[2018-08-15 19:35] mnlevy1981 commented on #356
It sounds like you guys want a python class that has some method objects to act on the grid rather than simply an xarray schema to use, so this may not be the most helpful... but CESM wants grids in the SCRIP format: that's a netcdf file with very specific fields. From a very old version of the [User Guide](http://forge.ipsl.jussieu.fr/little_nemo/export/86/vendor/nemo/v3.4_r_3220_dev_NEMO_MERGE_2

[2018-08-15 19:51] fmaussion commented on #356
- https://github.com/pytroll/pyresample

cc @djhoese

[2018-08-15 20:41] djhoese commented on #356
@fmaussion Thanks for the mention. So many good projects listed here that I didn't know about. For everyone else, I am one of the maintainers of the pyresample package which is very similar to some of these other libraries and focuses on resampling large satellite data arrays to new projections (used by the [satpy](https://satpy.readthedocs.io/en/latest/) library.

Pyresample has a couple differen

[2018-08-15 20:43] djhoese commented on #356
cc @mraspaud and @leouieda

[2018-08-16 03:36] rabernat commented on #356
My goals for now is just to understand the extent of duplication of effort in developing grid models and to start a discussion on whether a more unified approach would be worthwhile. Some of the downsides of having many different implementations for very similar concepts are:
- wasted developer time
- incomplete feature sets (because each package currently implements only the things it needs for t

[2018-08-16 03:38] rabernat commented on #356
More:
- https://github.com/MPAS-Dev/MPAS-Analysis
- https://github.com/fatiando/geometric
- https://github.com/ESMG/pyroms
- https://github.com/matplotlib/natgrid
- https://github.com/lesommer/oocgcm

[2018-08-16 03:40] rabernat commented on #356
p.s. Worth noting that definition 2 (finite volume grid) doesn't have to live on the Earth. This type of grid is useful also for models run in cartesian coordinates.

[2018-08-16 09:03] fmaussion commented on #356
Right, sorry for spaming this issue if you were just talking about category 2 in the first place.

[2018-08-16 12:07] pbranson commented on #356
Whilst there may be two different 'world views' on grids (one from the modellers perspective and one from the earth observation perspective) I feel like some of the important scientific questions will be more easily answered if both didnt also succumb to the concrete issue that @rabernat outlined.

This could be generalised even further to say that the variables may also be defined on grids, addin

[2018-08-16 12:22] rsignell-usgs opened #360 "OGC Catalog Service for the Web (CSW) for Pangeo"
As mentioned in https://github.com/pangeo-data/pangeo/issues/39#issuecomment-408377706, it would be nice to be able to dynamically create catalogs for users and integrate with the larger community by using CSW.

During the code sprint at the Pangeo Developers Meeting yesterday, @apawloski and I created a proof of concept by creating an ISO metadata record from an existing Pangeo zarr dataset on GC

[2018-08-16 13:08] martindurant commented on #360
By the way, Intake has the ability to have nested catalogues and catalogues that create their entries procedurally ([example](https://github.com/ContinuumIO/intake-sql/blob/master/intake_sql/sql_cat.py#L7)), so you could wrap the URL parsing work here within Intake, if you wanted.

[2018-08-16 14:08] djhoese commented on #356
@rabernat The xgcm versus xesmf gridded is interesting because looking at the two packages' documentation on grids I wouldn't immediately assume they were solving the same problem. Looking at the xesmf documentation the examples for gridding seem to be based on lon/lat grids. The xgcm seems like it handles a lot more cases but being unfamiliar with the package it isn't clear to me how to apply it

[2018-08-16 14:13] martindurant commented on #356
I would request that you also keep in mind astronomical World Coordinate Systems (WCSs), normally stored in the headers of FITS files. I don't know how similar the types of coordinate mappings might be; for astronomy FITS, it is often affine, but could be higher-order polynomials.

[2018-08-16 14:56] rabernat commented on #356
This is kind of my point. I implemented the parts of a "grid" that I cared about immediately for my applications (focused on finite differencing and related operations on the native grid space), but have not yet implemented the more "geographical" aspects of grids.

[2018-08-16 14:57] rabernat commented on #356
Oh we should also add all the ways that geoviews handles grids:
- http://geo.holoviews.org/user_guide/index.html

cc @philippjfr

[2018-08-16 15:08] djhoese commented on #356
@martindurant I won't exclude the idea, but I'm also not sure I know the differences needed by the astronomy community. I read a little bit of astropy's wcs documentation, but I'm not sure I have a great grasp on the concepts quite yet.

@rabernat Most of that looks like 2D lon/lat grids with values for each pixel.

I also wanted to point out that in the remote sensing field we typically deal with

[2018-08-16 16:15] martindurant commented on #356
The astro WCS is basically an object encoding an (arbitrary) function for transforming pixel coords to logical coords and usually also the inverse. In the simplest case, there will be a few keys in the file metadata like reference logical x/y, reference pix x/y, scale, but xarray doesn't need to know how things are actually stored. As was discussed at scipy, the problem comes when the coords can't

[2018-08-17 00:39] jhamman opened #361 "speed up pod initialization on GCP Jupyterhub (pangeo.pydata.org)"
In talking with @yuvipanda this week, we discussed a few ideas for speeding up the spinnup time for pods on our gcp clusters.

1. use ssds book disks for pods (currently we're using 100GB spinning disks)
1. use google container registry instead of dockerhub

[2018-08-17 09:25] kinow opened #363 "Allow users to access the mailing list archives without signing in"
Hi,

I wanted to quickly sift through some of the e-mails to see what kind of message is posted in the pangeo mailing list here

    https://groups.google.com/forum/#!forum/pangeo

However, when accessing it though a browser with some privacy tools and with no social login active, I can't access anything. It displays:

![image](https://user-images.githubusercontent.com/304786/44258599-81539280-a26

[2018-08-17 19:14] bekozi commented on #356
This has been a very interesting discussion so far. The ESMF mesh/grid model can serve as a useful reference point having been built up over years of use cases. This is not to say it is the best user-facing grid model! I expect ESMPy will keep pretty close to ESMF internals with xESMF being the best way to interact with xarray packages. With ESMF, we are working to integrate [MOAB](http://sigma.mc

[2018-08-18 03:47] rabernat commented on #356
@JiaweiZhuang -- thanks for your response. I guess it was not sufficiently clear from my message that I am not proposing to merge any existing packages tomorrow or force your users to adopt an unfamiliar new tool. xesmf is an amazing piece of software which has already developed a wide following. The last thing I would want would be to undermine this success in any way.

I am mostly concerned here

[2018-08-18 04:51] JiaweiZhuang commented on #356
@rabernat  Your clarification is clear and I think we are on the same page (Also, thanks very much for the kind words about xESMF!)

A useful thing would be identifying **small, individual, commonly-used functionalities for grid operations**, and adding them to xarray's core or a very small extension module. For example:

1) Validate the continuity of grid coordinate values

Right now it is easy t

[2018-08-20 01:09] #275 closed

[2018-08-20 12:45] jacobtomlinson commented on #69
I'm currently exploring this for our Pangeo setup.

We build our image and push it to Docker Hub automatically. I am keen on also pushing it to our AWS container registry.

[2018-08-20 13:56] jacobtomlinson commented on #92
Whoops I had missed this.

If you're still interested I would take a look at this repo. https://github.com/informatics-lab/s3-fuse-flex-volume

However Flex volumes have now been deprecated in favor of CRDs. @yuvipanda probably has more up to date info.

[2018-08-20 17:12] shoyer opened #364 "Xarray backend refactor for reading/writing netCDF files"
https://github.com/pydata/xarray/pull/2261 implements a major internal refactor to xarray's backends for reading/writing disk based file formats (e.g., netCDF files, rasterio and pynio). In particular, it removes the explicit `autoclose` option in favor of a least-recently-used cache for open files.

It would be great to test this on some real workloads before releasing it. I expect it may result

[2018-08-20 17:51] mmccarty commented on #364
There's also (intake-xarray)[https://github.com/ContinuumIO/intake-xarray). Intake recently added caching for first time reads.

[2018-08-20 19:50] jianwuwang opened #365 "Data hosting at google cloud for a potential new use case."
I'm working a NASA project on parallel [MODIS atmospheric data](https://modis-atmosphere.gsfc.nasa.gov/) Level 2 -> Level 3 aggregation. We believe Pangeo is the best framework for our project. After talking to some Pangeo folks at [GeoDaRRS workshop](https://www2.cisl.ucar.edu/events/workshops/geodarrs-workshop/2018/geoscience-digital-data-resource-and-repository-service-geodarrs-workshop), I'm t

[2018-08-20 20:26] guillaumeeb opened #366 "Feedback on Deploying Pangeo on the Cloud doc"
Finally I gave it a quick try this afternoon, here are my remarks/issues FWIW.

Disclaimer: I used Google Cloud Shell to perform the commands, as in France (I don't know in other countries), companies love to give windows only personal computer, and its difficult to find a linux server open to the internet.

From step one to step three, it was very straightforward. Some minor comments:
- It would

[2018-08-21 09:49] fmaussion commented on #356
I have to comment on this, because I think this is only partly true. Yes, atmospheric modeling people often do not know what a map projection is, or a "coordinate reference system". *But* this is causing them a lot of trouble: most (all?) limited area models like WRF do think of the earth as a sphere indeed, but they use a map projection to represent their grid, which is cartesian in eastings-nort

[2018-08-21 11:03] #303 closed

[2018-08-21 12:03] #40 closed

[2018-08-21 18:07] tjcrone commented on #358
I have been using very recent versions of Jupyter Hub in my many Pangeos, and continue to have issues just like this. Notebooks spawn, or don't sometimes, but the hub clearly looses track of who's what where. The only way to fix it is to redeploy (upgrade) Pangeo, or to delete the deployment and redeploy. I am not very far along figuring out why this is happening, but I'm pretty low on confidence

[2018-08-21 18:15] rabernat commented on #358
I just merged #56. @yuvipanda is optimistic that it will fix the issue. @tjcrone, I would recommend opening an issue in zero2jupyerhub if you think there is still a problem.

[2018-08-21 18:20] tjcrone commented on #358
i think i'll just watch the issue. thanks.

[2018-08-22 15:39] niallrobinson opened #369 "Update the description of this repo"
Could we change this
![image](https://user-images.githubusercontent.com/2979205/44473993-80d34700-a629-11e8-826f-cf72ba36ba94.png)
to read something like:

A place to discuss and track issues related to the Pangeo project, as well as the project [website](http://pangeo.io/).

I found it unclear that this is where you go to PR the website, and I don't think I can PR that change.

[2018-08-22 15:42] rabernat commented on #369
Done

[2018-08-22 15:42] #369 closed

[2018-08-22 15:55] shoyer commented on #364
@jhamman good suggestion! The ASV numbers show small improvements (see https://github.com/pydata/xarray/pull/2261#issuecomment-415082921), but I don't think we have any benchmarks using dask.distributed -- it might be worth writing those!

[2018-08-22 16:04] niallrobinson opened #370 "Advice on merging/zarring big lagged ensemble datasets"
@rprudden is trying to load multiple netcdf chunks, construct them into a high dimensional object and then restore them as a zarr but she and I are finding it hard. I seem to remember that @chiaral was talking about similar challenges. I thought I should introduce you, and find a place to share approaches

[2018-08-22 16:05] niallrobinson commented on #369
💥 that was quick - thanks!

[2018-08-22 17:13] kmpaul commented on #319
Just an FYI update...

I have submitted an abstract to present at the AMS 2019 Annual Meeting in the "Ninth Symposium on Advances in Modeling and Analysis Using Python" symposium.

[2018-08-22 20:27] JiaweiZhuang commented on #356
@fmaussion Thanks, I really enjoy your blog post. But I have a somewhat opposite opinion on this.

Whether to use true lat/lon or the projected coordinates largely depends on the problem a user wants to solve. For common questions like "what's the temperature at this location", using lat/lon is way more convenient/intuitive because the location of a city or a observation site is mostly expressed i

[2018-08-22 20:58] #201 closed

[2018-08-22 21:00] djhoese commented on #356
I see these as the same thing and that is at least the initial goal for geoxarray. You have lon/lat coordinates, great use them. You have projection information following the CF standard, go for it. You have a PROJ.4 string and X/Y coordinates, you can use that too. So the data is in the format the user is used to, but libraries can use a unified tool for handling the conversion and handling the d

[2018-08-23 02:27] #113 closed

[2018-08-23 09:57] niallrobinson commented on #370
I've attached some code which loads a hindcast set and calculates the anomaly, just as food for thought. The messy stuff is hidden away in "tools.py" (@chiaral this was the example I was talking about in CO)

https://gist.github.com/niallrobinson/ea1063b610f5047e602fb22bfde516c9

[2018-08-23 18:03] chiaral commented on #370
This is great!

So far I started with a netcdf SubX dataset only (GEOS_v2_p1), and I created one zarr file per year (I kind of did it on purpose to test if opening many zarr files was very slow, in my case it wasn't, or maybe I have low expectations!).

Indeed the issue with Start time and Lead time (which i think correspond to your forecast_reference_time and forecast_period_time) it's the big he

[2018-08-23 18:23] kmpaul opened #371 "Any MPAS users out there?"
I have a few colleagues here at NCAR who are working on MPAS and have an interest in using the Pangeo software stack.  Are there any other MPAS users out there that I can talk with about using Xarray / Dask with MPAS grids?

[2018-08-23 18:28] jhamman commented on #371
I know this package uses xarray and dask extensively: https://github.com/MPAS-Dev/MPAS-Analysis

cc @pwolfram

[2018-08-23 18:38] pwolfram commented on #371
We have found that Xarray / Dask is best for prototyping and have ended up using more and more netCDF tools, e.g., ncks, nco, etc for the production analysis.  @xylar, who is the primary developer of MPAS-Analysis, can speak more to these details.

[2018-08-23 19:00] rabernat commented on #371
😢

[2018-08-23 19:07] ktyle commented on #371
Is the NetCDF Operators (nco) python package worth exploring?  I've installed it on our systems, but am not aware of any use cases which leverages the capabilities presumably provided.

[2018-08-23 19:14] pwolfram commented on #371
@ktyle, can you please explain more?  If I understand correctly, newer versions of nco have become parallel on node, but in terms of cross-node computation I don't believe it can compete with Dask.  This just hasn't been our immediate use case.

[2018-08-23 19:45] xylar commented on #371
We find that complex computations across a large number of files with xarray are too slow to be useful.  We end up using NCO either to compute climatologies or to strip out specific variables of interest. In either case, we end up with a single file.  Once we do that, xarray is very useful for loading a single file.  For now at least, we're still finding xarray to be much more reliable for problem

[2018-08-23 19:46] ktyle commented on #371
@pwolfram Looks like none other than @jhamman set up the PyNCO library, so maybe Joe could comment on how it can work its way into the Pangeo ecosystem.  https://pynco.readthedocs.io/en/latest/

[2018-08-23 19:54] rabernat commented on #371
Within Pangeo, we would be very interested in tackling this problem. Our process for the last year has basically been to identify such cases, reduce them to specific minimal examples, and pursue fixes upstream in dask and xarray. This had lead to some major performance improvements.

Can you provide us with an example of a failing calculation you are trying to do + data? We can copy the data to Ch

[2018-08-23 20:03] xylar commented on #371
I appreciate the offer to look at this.  The MPAS-Ocean data sets we work with are quite large (even for relatively low resolution simulations) and I'm not sure at this point which results I'd be able to share more broadly.  I'll look into it and see what I can provide, though this is not likely to be something I have time for in the immediate future.

[2018-08-23 21:16] rabernat commented on #371
Xylar and Phil: I feel your pain. You have a job you need to get done, and you are doing what you have to do with the tools as they are today.

From the perspective of Pangeo, this provides a unique and important opportunity to figure out what is wrong with our stack. Your use case is ostensibly exactly what Pangeo is trying to optimize. So the news that you had to go back to the legacy tools is c

[2018-08-24 12:47] niallrobinson commented on #370
The way I did that was Very Hard...all the messiness is hidden in the tools.py. I'd just like a nice generalizable way to do that, then we can talk about efficiency!

[2018-08-24 12:48] niallrobinson commented on #370
I'm also going to invoke @dpeterk and @pelson who are core iris devs incase they're interested in being github ghosts for some of this discussion

[2018-08-24 13:52] RPrudden commented on #370
I'll hopefully take another look at this next week.

What I'm aiming for is a single zarr containing all the MOGREPS-UK data for one variable, for a single year. This would be 4 runs per day, each with 12 ensemble members and 37 lead times. So far, I've only managed to create the zarr for a single month - trying to convert any more than this seemed to break the distributed cluster.

This has also

[2018-08-24 16:25] chiaral commented on #370
I think we will need to test a few examples to see what is more efficient.

based on my tho very low experience, I think that storing them in a compact form it's more efficient, but then we have to match L+S to T.

I would rename the ensemble members. Maybe you can do it with a preprocessing function in open_mfdataset (if you using that)?

I right now have data with lat,lon,M,L,S and I think I am

[2018-08-24 16:36] chiaral commented on #370
Actually - that plot doesn't help in understanding whether the grouping is, but if I look at the groups:

[code]
it's, *I think*, what I want.
Still figuring out!

[2018-08-25 00:27] scottyhq opened #372 "Synergy with Geospatial Big Data Platform (GBDX)"
For those interested in satellite imagery, DigitalGlobe has a Jupyter Notebook interface for analyzing imagery directly from their catalogs:
https://notebooks.geobigdata.io

They are using similar technologies to the pangeo.pydata.org (such as parallelism with Dask), but also have some great features, such as a interactive catalog browser that can load imagery into the notebook automatically:

![w

[2018-08-25 23:38] #316 closed

[2018-08-26 01:43] rabernat commented on #358
Still happening with the latest jupyterhub helm chart.

This has affected @chiara7, who was trying to log in unsuccessfully today.

[2018-08-26 18:02] darothen commented on #319
@kmpaul I'd be happy to collaborate closer to the meeting if you need an extra pair of hands. I'm already committed to an xarray/dask/numba talk. Broadly speaking, the Python committee is enthusiastic about there being a Pangeo presence.

[2018-08-26 23:00] #11 closed

[2018-08-26 23:00] #91 closed

[2018-08-27 02:00] #64 closed

[2018-08-27 02:00] #90 closed

[2018-08-27 02:00] #66 closed

[2018-08-27 15:20] rabernat opened #373 "refactoring pangeo.pydata.org"
As we discussed at the developer meeting, the time may have come to refactor pangeo.pydata.org.

Let's discuss how we would like our future services to look. I think we are all in agreement that, for non-persistent demos, we definitely want to move to @jhamman's binder.pangeo.io solution.

But what about the "production" services. There are some people (including myself, @chiaral, @chiara7, and wh

[2018-08-27 15:27] mrocklin commented on #373
When we interact with a new commuity we'll be giving them a cookie-cutter repository template.  That repository will have an `examples` directory that they will be encouraged to fill with notebooks.  Given how well this has worked in the original deployment I expect that other communities will continue this tradition.  As long as this is in a uniform place (which is likely given that we're providi

[2018-08-27 15:39] rabernat commented on #373
Good points Matt. But I worry that the complexity of adding new notebooks to the examples repo will exclude some users. Currently that process is something like:
- Copy an existing example to a new location (this is how most people will probably start their work)
- Modify it into something new that you want to share
- Download the notebook by right-clicking in the file browser
- Create a PR to the

[2018-08-27 15:43] martindurant commented on #373
Pushing to a forked copy of the examples should work directly from the the container, but it'll ask for github username/password, which should be fine.

[2018-08-27 15:47] rabernat commented on #373
it would work, but it is not an optimal user experience. From the user perspective, they have already authenticated with git. Why should they have to do it again? Plus copying / pasting passwords on the command line is high friction.

I know some of these things are complicated and perhaps impractical. But I think it's worth discussing a vision for where we would like to go.

[2018-08-27 16:02] rabernat opened #374 "follow up from JupyterCon discussions"
At JupyterCon, we had an exciting, wide-ranging discussion amongst different folks working on (for lack of a better term) "big data gateways". Some (but not all--unfortunately I can't remember everyone) of these people were:
- @athornton of the LSST telescope project
- @stevetsa of NIH
- @alonzi of U Virginia
- @JasonJWilliamsNY - Cold Spring Harbor Laboratory / cyverse
- @colliand - Director of P

[2018-08-27 17:48] kmpaul commented on #319
@darothen That's great!  I'm not sure if I've been accepted to speak, yet, but I'll reach out to you when I know.

[2018-08-28 09:19] minrk commented on #373
It depends on what you mean by "not secure." It's certainly "less secure" in that it's adding more people and systems to trust with your credentials. Storing credentials at rest is entrusting those running the service (you folks) to do so securely, and not abuse their access. For instance, if you enable auth state to store a GitHub API token and pass it down to the user environment, this is stored

[2018-08-28 13:37] martindurant commented on #373
Is [this](https://github.com/hadim/jupyterlab_gist) the same button as before, or something new? I assume that in this case, the user's browser takes care of auth.

[2018-08-28 13:38] martindurant commented on #373
^ actually, that specific repo says it doesn't work with the new auth system of gist, so never mind.

[2018-08-28 16:19] #311 closed

[2018-08-28 16:59] MSKirk commented on #269
Sorry I have been distracted by other projects in the last couple of months. @Cadair have you been continuing to work with solar images in dask?

[2018-08-28 17:02] martindurant commented on #269
I hope you are following https://github.com/ContinuumIO/intake-astro , which now has a partitioned FITS array and table reader that may already be generally useful.

[2018-08-28 20:16] jhamman commented on #373
I think it would be really nice if we could define a "kubernetes-pangeo-jupyterhub" with something like terraform. This would help us provide specification for a kubernetes cluster as well as the helm chart stuff. I know @jonahjoughin / @aaarendt were playing around with this at some point. It would obviously be super nice if new pangeo deployments were as simple as:

[code]

This is not something

[2018-08-29 05:51] guillaumeeb commented on #373
👍 on this! I'd be happy to help, but not sure I can find the time.

[2018-08-29 14:37] jacobtomlinson commented on #373
You may find [this](https://github.com/informatics-lab/terraform-kubernetes) useful. We create our Kubernetes cluster on AWS using a combination of Terraform and Kops.

[2018-08-29 21:34] jhamman commented on #26
Keeping this open since it sounds like people are moving this forward at NCAR (@kmpaul)!

[2018-08-29 21:58] kmpaul commented on #26
Yes!  Definitely.  Your stale-bot moves faster than bureaucracy!

This is making some progress, actually.  @yuvipanda now has a Cheyenne account and ability to do some testing of our system, and he is talking with @davidedelvento about a preliminary Jetstream-based approach.  I think there are some cool possibilities that we are exploring, including a neat new tool that Yuvi found called [udocker]

[2018-08-29 23:07] #306 closed

[2018-08-29 23:08] jhamman commented on #306
The agenda and attendee list is posted here: https://medium.com/pangeo/the-2018-pangeo-developers-workshop-1be359dac33c

[2018-08-30 02:48] rabernat commented on #356
cc @adcroft, who may be interested in the discussion

[2018-08-30 06:55] guillaumeeb commented on #366
ping @jacobtomlinson for maybe some answer here?

[2018-08-30 07:33] guillaumeeb commented on #348
Using it on an HPC Jupyterhub setup here.

As long as KubeSpawner has a configuration option for specifying single-user image, which [it obviously has](https://jupyterhub-kubespawner.readthedocs.io/en/latest/spawner.html#module-kubespawner.spawner), WrapSpawner will allow you to specify several images for the user to chose from.

It is really simple to use, just a few lines in the config file. For

[2018-08-30 08:03] jacobtomlinson commented on #348
This has been added to KubeSpawner already and you can configure it like this:

[code]

However we are waiting for z2jh 0.7 for it to make it downstream.

[2018-08-30 17:10] jhamman commented on #348
Are we really blocked by a full z2jh release? We can use a development version, can't we?

[2018-08-30 18:27] rabernat commented on #255
The process is, we give you storage admin privileges on our project, you run `gsutil cp data-*.csv gs://pangeo-data/LSST` (or whatever path you feel is appropriate).

I would actually be surprised if Gaia DR2 is not already in cloud storage somewhere.

[2018-08-30 18:29] martindurant commented on #255
DR1 is certainly available over HTTP as CSV, FITS and VOtable. Note that dask's HTTP file-system backend will soon gain rudimentary glob/ls support.

[2018-08-30 19:01] SimonKrughoff commented on #255
OK, so the `source` files are available [here](http://cdn.gea.esac.esa.int/Gaia/gdr2/gaia_source/csv/).  They are ~550GB gzipped.  I have not found them on GCS.  I think we would probably want to add some of the other catalogs too: radial velocities, light curves, and variability classifications come to mind, but the source catalog is the largest, I think.

Would it be better to store these data u

[2018-08-30 19:03] mrocklin commented on #255
We might also consider storing them as Parquet files.  I suspect that they
will be much more efficient to access in this format.

On Thu, Aug 30, 2018 at 3:01 PM, Simon Krughoff <notifications@github.com>
wrote:

[2018-08-30 19:04] SimonKrughoff commented on #255
@mrocklin that shouldn't be hard to do as long as I'm not doing any smart sharding.

[2018-08-30 19:09] mrocklin commented on #255
I suspect that @martindurant would have thoughts on the most efficient way
to store this data in Parquet format.

On Thu, Aug 30, 2018 at 3:04 PM, Simon Krughoff <notifications@github.com>
wrote:

[2018-08-30 19:44] martindurant commented on #255
To answer the first specific question: storing as compressed CSV is fine, but it means no random-access within a file, and so you get one dask partition per file. The files only appear to be 5-10MB, so that's fine (but they are many in number). In fact, you would generally want much larger individual files, since there is a fixed overhead of operating on each, both in initiating the download and r

[2018-08-30 19:54] mrocklin commented on #255
For completely random data parquet stores it in about half the space (eight bytes rather than sixteen ASCII digits), though presumably compression would help to narrow this difference.  I think that the main advantage here is in performant access, not in storage size though.

[code]

That's unfair though because I'm operating on my local disk, which has GB bandwidth, rather than GCS, which will be

[2018-08-30 20:12] martindurant commented on #255
(I don't think most of the floats really have the full precision of 16 characters)
But yes, agree very much that reading binary blocks of float/int data will be **much** faster than parsing text in CSV.

Naively loading and saving to parquet for the very first file produced the following sizes:
csv: 12,415,259
csv.gz: 5,350,635
parquet(uncomp): 7,456,886
parquet(snappy): 6,329,340
parquet(gzip): 5

[2018-08-30 20:21] rabernat commented on #255
My $0.02. If you’re going to go to the trouble of putting your data in cloud storage, you should really use a cloud optimized format like parquet. The performance benefits can be huge.

Sent from my iPhone

[2018-08-30 20:33] SimonKrughoff commented on #255
You've all convinced me.  I'm currently producing parquet files from the CSVs.  Once I have one parquet file per CSV, I'll look into merging them into larger files.

[2018-08-30 20:38] martindurant commented on #255
In case you were curious, since the Gaia DR1 products are available in uncompressed binary FITS tables, I converted one of these to parquet and found that the size was half and the read speed more than double, again without any care in the conversion, and on my local disc. A good deal of the slowness comes from converting big- to little-endian...

[2018-08-30 21:54] mrocklin commented on #255
FWIW I would probably transform this data in the following way:

[code]

Doing this in one step might be nice to provide a consistent single Parquet dataset, even if it is made up of many files.

[2018-08-30 22:59] SimonKrughoff commented on #255
I'm doing basically that.  I used `pandas.read_csv` instead of `dask.dataframe.read_csv`.

[2018-08-31 00:14] martindurant commented on #255
The suggestion for using the dask variety, is that you can repartition multiple original files into bigger chunks in parquet, because that will lead to better performance on read later on.

[2018-08-31 03:48] SimonKrughoff commented on #255
Oh, OK.  I hadn't realized that.  I'll look into that.

[2018-08-31 08:02] jacobtomlinson commented on #348
There seems to have been a bunch of breaking changes and I haven't managed to successfully use the development versions without causing myself headaches.

Perhaps @yuvipanda can comment?

[2018-08-31 11:23] willirath opened #375 "GFS data on S3"
There seems to be an experimental version of GFS data hosted on AWS:

https://gist.github.com/jedsundwall/e85bfca46f4b2ee5a985ec793c30725a

Did anyone use this before?

[2018-08-31 12:09] rabernat commented on #375
Cc @chiaral

Sent from my iPhone

[2018-08-31 12:29] vprzybylo commented on #352
Hello,

I work with Dr. Sulia and have further questions on the above instructions to reconnect to cheyenne if wifi disconnects or the server crashes.  Re-running the ssh -N -l .. command results in "channel 5: open failed: connect failed: Connection refused" and thus, I am unable to reload jupyter lab to retrieve the data output from the job -- it should output the data to a file but never gets t

[2018-08-31 15:05] mnlevy1981 commented on #352
We are still working on the documentation, but a newer version of that script is available at

https://github.com/ncar/pangeo

That repository contains two directories:

* `client-side`: scripts to run from your laptop, including a single script that will launch jupyterlab and set up the ssh tunnel
* `server-side`: instructions for setting up a conda environment

The server-side directory is meant

[2018-08-31 16:16] chiaral commented on #370
Ok! I made some progress!

Here a [gist with 2 ways to map T to (L,S)](https://gist.github.com/chiaral/9b0e282c040ae2e94b817848b2a56d7f). One not super efficient, another one that is pure magic (thanks to @rabernat for some input on this!)

Let me know what you think.

Next on the list is calculating climatologies, with some type of harmonic fitting, as discussed in [this paper](https://journals.a

[2018-08-31 17:00] vprzybylo commented on #352
Thanks for the help and the new script! However, I cannot get it working.  It seems to be erroring on the ssh call in launch_job pasted below saying "ssh: Could not resolve hostname cheyenne.ucar.edu: Name or service not known"

(ssh -t ${REM_USER}@cheyenne.ucar.edu "$(declare -f launch_job); launch_job ${REM_USER} ${WALLTIME} ${CONDA_ENV} ${ACCOUNT}" ; echo $? > .ret_code) | tee .last_run.log

I

[2018-08-31 17:10] chiaral commented on #370
I should add, that the stack/swap_dims/swap_back/unstack procedure works of course when you have data with (L,S,lat,lon) dimensions as well. you simply do not stack those coordinates.

[2018-08-31 17:26] mnlevy1981 commented on #352
Huh, that looks like you can't connect to `cheyenne` at all... can you `ping` the machine?

[code]

If so, what happens if you try to `ssh` directly?

[code]

If you can't use the new script but can connect directly then I'm not sure what to suggest. If you can't ping it, try requesting specific log-in nodes:

[code]

basically, `cheyenne[#].ucar.edu` for `[#]` between 1 and 6. If you can connect

[2018-08-31 17:36] vprzybylo commented on #352
I don't have permission to ping.  But I can ssh into cheyenne just fine using:
ssh -Y -l przybylo cheyenne.ucar.edu or ssh -Y przybylo@cheyenne.ucar.edu

Usually when I open jupyter lab I use:
ssh -N -L 8888:r14i6n12:8888 -L 8787:r14i6n12:8787 przybylo@cheyenne.ucar.edu

[2018-08-31 17:43] mnlevy1981 commented on #352
@davidedelvento -- can you help with this at all? @vprzybylo can ssh into cheyenne from a command line, but not from within a bash script... do you have access to logs that might indicate what's going on?

For what it's worth, I've used this script from outside the NCAR network before... there's no dependency on having an internal NCAR IP address or anything.

[2018-08-31 21:15] davidedelvento commented on #352
I do not have access to attempted login logs. However if your error is `Could not resolve hostname cheyenne.ucar.edu` that has nothing to do with Cheyenne and will not show up in our logs.

The problem seems to be your bash script not being able to access DNS on the machine you are using. To debug the issue, try using another machine and see if the problem persists. Try simplifying your bash scrip

[2018-09-01 01:39] rabernat commented on #366
Hi @guillaumeeb -- thanks so much for this valuable feedback!

We would welcome a PR with clarifications to this setup guide. I wrote it in haste, and I don't fully understand all of what it does myself!!

As for your harder questions about how to customize the cluster and why, there is no easy answer. We are discussing how to refactor our cluster deployments in #373. We would like to make it the

[2018-09-01 14:40] #220 closed

[2018-09-01 20:40] #271 closed

[2018-09-02 13:42] guillaumeeb opened #376 "ESA Conference : Big Data from Space 2019 - February - Munich"
Some of you may be aware of [this conf](https://www.bigdatafromspace2019.org), I remember seeing UK Met Office folks in Toulouse last year presenting their JADE platform (one of the best talk of 2017 edition, seriously).

It would be good to have some Pangeo talks this year, deadline for submission is mid-october. I may propose some paper around dask-jobqueue and its usage at CNES, not sure yet. I

[2018-09-02 18:46] #324 closed

[2018-09-03 14:05] niallrobinson commented on #370
I'm going to try and do what I did previously by copying lines of code from what you did @chiaral I want to get a better feel for Iris vs Xarray here (my xarray experience is pretty limited so far).

is this because they're lagged ensembles or something? the 0th is unpurturbed. I don't think this is just a metadata screwup - we should find out why they're numbered like that

[2018-09-03 14:08] rabernat commented on #370
The key code which allows you to "broadcast" the truth data to S, L space is this
[code]

I would consider this "advanced xarray." this sort of workflow is not very well documented or widely understood.

[2018-09-03 15:35] guillaumeeb commented on #366
I gave this one more go today, and I was finally able to get Pangeo working :tada:, (it was not really difficult), some key points:
* I probably used a wrong helm chart version to get the error from my first post (TBC),
* For from scratch deployement without a domain name or fixed IP, remove the `loadBalancerIP` par of _jupyter_config.yaml_ (which is kind of implied, but not clear enough for me).

[2018-09-04 04:37] jhamman opened #377 "Use repo2docker to build a curated set of pangeo environments"
Related to #348, it would be nice to have a curated set of user environments for use in pangeo's jupyterhub deployments. I've been thinking about this for a while and here's what I'm thinking could work:

- github repo with "binder-like" structure (maybe with some example notebooks, maybe not)
- CI: CircleCI builds images using repo2docker: https://repo2docker.readthedocs.io/en/latest/deploy.html

[2018-09-04 11:56] #225 closed

[2018-09-04 14:56] #226 closed

[2018-09-04 15:39] alimanfoo commented on #196
Just to mention that I'm seeing exactly this both on pangeo and on our own pangeo-like deployment on Google cloud with some of our genomic data. If I up retries it seems to go away. In .dask/config.yml on pangeo I have ``allowed-failures: 3``, this is default number of retries right? Did you guys end up changing your default somehow?

[2018-09-04 15:42] mrocklin commented on #196
You want to set retries=100 or something similar when calling compute.

the distributed.scheduler.allowed-failures config value corresponds to the
number of times a task can be on a failed worker before the task is
considered bad.  If the task errs it's just considered an error.  You want
to set retries=for this

On Tue, Sep 4, 2018 at 11:39 AM, Alistair Miles <notifications@github.com>
wrote:

[2018-09-04 16:29] vprzybylo commented on #352
Progress has been made on getting the script to run!  I have it to the point where it runs to the end mimicking the output you shared above but when it opens jupyter lab locally I receive the, "This site can’t be reached." It falls into the if statement where...

if [ `uname` == "Darwin" ]; then
      open http://localhost:${LOCALPORT}
....
but is unable to open the lab.  The only difference in th

[2018-09-04 16:36] mnlevy1981 commented on #352
I'd like to see what your tunnel looks like - can you copy and paste the output from your script that is similar to

[code]

And what do you mean when you say "unable to open the lab"? Does your browser open with an error message? If so, (a) what message are you getting, and (b) what number is showing up to the right of the colon in `http://localhost:####`?

[2018-09-04 16:41] vprzybylo commented on #352
Running create_tunnel...
ssh -N -L 8888:r6i6n22:8888 przybylo@cheyenne.ucar.edu
Tunnel PID: 9474
Use ^C to kill ssh tunnel

Yes, my browser opens with "This site can’t be reached" to port 8888 to the right of the colon.  I have all other notebooks shut down so this port is definitely available.

[2018-09-04 16:46] willirath commented on #352
I've seen stuff like this fail when `localhost` was not properly resolved to `127.0.0.1`. The fix was to specify the hostname in the SSH call.  Changing <https://github.com/NCAR/pangeo/blob/master/client-side/launch-pangeo-on-cheyenne#L214> to

[code]

could do the trick.

[2018-09-04 16:51] vprzybylo commented on #352
No luck with the new cmd line.  Here is another instance that now has a longer tunnel PID, not sure that matters.

Running create_tunnel...
ssh -N -L 8888:r9i0n13:8888 przybylo@cheyenne.ucar.edu
Tunnel PID: 10166
Use ^C to kill ssh tunnel

[2018-09-04 16:53] willirath commented on #352
This does not look like the `cmd` was changed.

[2018-09-04 16:54] mnlevy1981 commented on #352
@willirath I updated the script in the NCAR/pangeo repository, thanks for the tip!

@vprzybylo if you run `$ git pull` you can update your copy of the script (even though it sounds like maybe it doesn't matter in your case?)

Before you do that, though -- if you run

[code]

Do you get any output? If so, can you paste it here?

[2018-09-04 16:59] vprzybylo commented on #352
It must not have saved or I copied the older run, sorry.  Here is the new output, which looks fine, but still no luck when the chrome browser opens.

ssh -N -L localhost:8888:r9i0n13:8888 przybylo@cheyenne.ucar.edu

I would say it could be something with my firewall but it opens fine when I use the instructions from http://pangeo.io/setup_guides/hpc.html

[2018-09-04 16:59] vprzybylo commented on #352
And i have no output from lsof -p 10166

[2018-09-04 17:06] mnlevy1981 commented on #352
If you copy and paste the tunnel command

[code]

(replacing `r9i0n13` with the latest remote host name you connected to) into a new terminal window and set up the tunnel that way, can you connect to http://localhost:8888 ?

[2018-09-04 17:12] vprzybylo commented on #352
If I ssh in a new terminal while the script is still running after, "Opening jupyter lab!", I receive

bind: Address already in use
channel_setup_fwd_listener_tcpip: cannot listen to port: 8888
Could not request local forwarding.

If I kill the script and run the ssh command from a new terminal after I still receive the, "This site can’t be reached" when opening http://localhost:8888

[2018-09-04 17:20] mrocklin commented on #373
Operationally my original thoughts for how this would be restructured was as three pieces

1.  A cluster on GCP running Kubernetes that has several JupyterHub deployments on it, one for each of the disciplines like ocean, atmo, hydro, solar, etc..
2.  A github repository for each of those disciplines that has a few things:
    - A directory that follows the repo2docker specification.  This docker

[2018-09-04 17:32] vprzybylo commented on #352
The host name is wrong, port is fine!  It is now up and running and I can try my longer scripts that usually require reconnecting.  I didn't know about qpeek or think to check the name.  Thanks so much.  I will also look into the script to accurately capture the name.

[2018-09-04 17:39] mnlevy1981 commented on #352
Glad it's working! When you get a chance, if you can recreate the issue, can you open a ticket at

https://github.com/ncar/pangeo/issues

I have some theories on how to improve the script (unique log files each time you run?), but I think the NCAR repository will be a better place for discussing them.

[2018-09-04 17:56] #328 closed

[2018-09-04 21:09] alimanfoo commented on #196
@mrocklin thanks. To check my understanding, when calling compute, by default retries=0 effectively, i.e., tasks will not be retried if they err. So I should set retries=100 every time I call compute().

I am slightly concerned about this error. It suggests that data returned by GCS are intermittently truncated or corrupted, and this is not getting picked up prior to passing data through to zarr.

[2018-09-04 22:57] kmpaul commented on #76
On my calendar, tomorrow is supposed to be our next checking with the UK MetOffice Informatics Lab.
 The last time we brought this up, though, we discussed having meetings only when needed (and for specific technical topics).  Is that the case?  Do we have anything to discuss tomorrow?

ping @jacobtomlinson @niallrobinson @jhamman @rabernat @mrocklin

[2018-09-05 05:29] jhamman commented on #76
I am available. I think a checkin would be useful provided we can achieve a quorum.

[2018-09-05 09:28] jacobtomlinson commented on #76
I think we should have a catch up soon. However I cant do today I'm afraid!

[2018-09-05 13:28] rabernat commented on #76
I am available but it sounds like the Met office folks are not.

Joe and Kevin, I'd be happy to have a quick chat if you think it would be useful.

[2018-09-05 13:59] kmpaul commented on #76
I think it would be useful. I’ll be on in an hour.

[2018-09-05 14:01] rabernat commented on #76
Great, see you at https://appear.in/pangeo

On Wed, Sep 5, 2018 at 10:00 AM Kevin Paul <notifications@github.com> wrote:

[2018-09-05 14:51] mrocklin commented on #76
I'll plan to swing by.  @dsludwig you might also find listening in on this
conversation interesting.

On Wed, Sep 5, 2018 at 10:02 AM, Ryan Abernathey <notifications@github.com>
wrote:

[2018-09-05 17:41] martindurant commented on #196
Hm, requests should raise an error if a stream disconnects before it is done.
However, GCSFile._fetch() doesn't explicitly check the size of the blob that arrives, nor does _fetch_range() check how much data the response header claims to be sending. Those checks could be added, but this kind of thing is hard to test.

[2018-09-05 20:23] mrocklin opened #380 "Restricting user's resources"
Currently any user on our JupyterHub+Dask deployments can launch as many pods as they like.  This is troublesome because it opens us up to excessive costs and because other users can't easily get on.  What is the right way to do this?

Two approaches have come up before:

1.  Place each user in a separate namespace.  Some users, notably the UK Met office say that this is unpleasant because Pangeo

[2018-09-05 20:57] alimanfoo commented on #196
As an aside, I was looking at the source for GCSFile and think that maybe 2
HTTP requests are being made each time an object is retrieved, one to first
retrieve the object info (to get the size), and a second to actually
retrieve the data? Please correct me if that's wrong and/or redirect me to
a separate issue, but just wondering if there's an opportunity to reduce
latency overheads by only makin

[2018-09-05 21:34] martindurant commented on #196
Correct, it takes two calls, unless the files listing has already been retrieved and cached via an `ls` call. The reason for needing the size is, the file-system is designed for random-access and block-wise access. At the time of opening the file, GCSFileSystem doesn't know that the only operation to be performed would be to read everything in one go. However, the `info` read that gets the file si

[2018-09-06 00:29] rabernat commented on #196
These are some of the reasons I started https://github.com/zarr-developers/zarr/pull/252.

While gcsfs is a great general purpose utility, I believe that having zarr talk directly to cloud storage via the official APIs will lead to the best performance.

[2018-09-06 08:43] alimanfoo commented on #196
Thanks @martindurant and @rabernat.

I feel like it's worth doing a bit more digging on this issue, I think it's important that errors are being captured and reported correctly. If I get a bit of time I'd like to look at the GCS HTTP API to build a but more understanding, and would also like to look at the source code of the google.cloud.storage package to see what if any measures are in place to

[2018-09-06 11:54] alimanfoo opened #381 "Zarr/GCS potential optimisation to reduce latency"
In discussion of a separate issue (#196) it came up that gcsfs currently makes 2 HTTP requests each time a cloud object is retrieved, the first to obtain the size and download URL (media link), the second to retrieve the actual bytes. Looking at the [source code for the google cloud Python client library](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/storage/google/cloud/s

[2018-09-06 12:05] alimanfoo commented on #381
Basically it looks like if you add ``?alt=media`` to the object URL and [make a GET request](https://cloud.google.com/storage/docs/json_api/v1/objects/get), you get the object data in the response.

[2018-09-06 13:00] grizonnetm commented on #372
Pour info j'ai suivi un tutorial d'1/2 journée en aout 2017 sur GBDX. Je dois encore avoir des notes sur le sujet...

Si tu veux d'autres exemples de ce type de plateforme il y a aussi le MEP Proba-V développé par VITO:

[https://proba-v-mep.esa.int/notebooks](https://proba-v-mep.esa.int/notebooks)

[2018-09-06 13:09] martindurant commented on #381
I should point out that the second request is only made if the file information is not already cached. I suppose that this is indeed the case when we are explicitly trying to avoid "contains" calls.

[2018-09-06 14:51] martindurant commented on #381
Try https://github.com/dask/gcsfs/pull/111 ?

[2018-09-06 16:41] alimanfoo commented on #381
Many thanks Martin, I'll give it a go asap.

On Thu, 6 Sep 2018, 15:53 Martin Durant, <notifications@github.com> wrote:

[2018-09-06 21:05] mrocklin commented on #373
From private conversation with Yuvi he mentioned that his recent work on deployment lives here: https://github.com/berkeley-dsep-infra/datahub

[2018-09-06 21:50] alimanfoo commented on #381
For interest, on my local machine, retrieving a very small object directly
using the google cloud storage client library takes ~300ms.

Using GCSMap from @martindurant's new gcsfs branch also takes ~300ms, down
from >700ms using the release version.

I also tried GCSStore from @rabernat's zarr PR
https://github.com/zarr-developers/zarr/pull/252 which currently takes
~450ms and profiling shows some

[2018-09-06 22:19] yuvipanda commented on #373
https://hubploy.readthedocs.io/en/latest/ is the tool used to do the deployments. You can see how CircleCI is used to automatically:

1. Build Docker images
2. Deploy hubs

as an example at https://github.com/berkeley-dsep-infra/datahub.

I think Pangeo is a great use case for pushing hubploy development forward! :D

[2018-09-06 22:28] yuvipanda commented on #92
FlexVolumes have been replaced with Container Storage Interface (https://kubernetes.io/blog/2018/04/10/container-storage-interface-beta/). These seem not too hard to adapt from FlexVolumes, and are probably actually easier for something like FUSE. Someone with more Go experience than me could probably whip this out in a few days :)

[2018-09-06 22:29] yuvipanda commented on #69
Using SSD base disks for your nodes gives you at least an order of magnitude performance boost. If your images are > 5G, I highly recommend it. This does come with a cost increase though.

[2018-09-06 22:30] yuvipanda commented on #322
I think @consideRatio's work on extra schedulers has been merged upstream now, and lessons from that would probably also be useful for the dask worker pods.

[2018-09-06 22:37] yuvipanda commented on #272
There are two ways to do this in the long run:

1. Use NFS for home directories. This might be something that PANGEO wants to do anyway, since it offers *massive* cost savings. Then mount your home directories in your worker pods. HPC style.
2. Run a [NFS Ganesha](https://github.com/nfs-ganesha/nfs-ganesha/wiki) sidecar in each user pod. This allows you to share the homedir / other system contents

[2018-09-07 00:56] consideRatio commented on #322
Merged! And the awesome graphs on mybinder.org provided [some fun insights](https://grafana.mybinder.org/d/nDQPwi7mk/node-activity?orgId=1&from=1536218397087&to=1536243497087&panelId=26&fullscreen&refresh=1m)

![image](https://user-images.githubusercontent.com/3837114/45192604-91023d80-b249-11e8-8d84-872be7136f94.png)

[2018-09-07 01:02] consideRatio commented on #322
See https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/841 to follow progress on additional improvements, such as overprovisioning pods to allow scale up in advance. From this graph it seems like it would be suitable to have about 10 placeholder pods creating headroom. I conclude that from looking at the points where a fourth node is added back for short durations and seeing there were a

[2018-09-07 16:01] yuvipanda commented on #322
@consideRatio Best way to learn about routes is to learn about the Kubernetes Pod Network model. This is a somewhat complex topic, but there's lots of info out there on this. Googling gave me https://medium.com/@ApsOps/an-illustrated-guide-to-kubernetes-networking-part-1-d1ede3322727 for example.

[2018-09-07 16:39] mrocklin commented on #373
So @dsludwig has some time to take a look at this.  I think that he probably needs an example repository that a scientific group leader would create.  This will probably need both a repo2docker compatible repository as well as some config information to provide to JupyterHub.  I imagine that we'll have to iterate on this a bit before we get it right.  Do we have something that would be a good star

[2018-09-07 16:43] mrocklin commented on #373
I imagine that alongside a repo2binder compatible repository we'll also need a jupyter-config.yaml file, like https://github.com/pangeo-data/pangeo/blob/master/gce/jupyter-config.yaml (though presumably a lot of that, like the privileged containers and fuse mounts, can be ripped out.)

[2018-09-07 16:58] jhamman commented on #373
I would be happy using a fork of https://github.com/pangeo-data/pangeo-example-notebooks as a place to prototype this work. How about:

- Use the Binder stuff I've already done
- Move the notebooks to a subdirectory (say /notebooks)
- Make a juypyterhub directory where we can put the configs

[2018-09-07 17:00] mrocklin commented on #373
That sounds sensible to me.  @jhamman would you mind playing the role of
"model science group leader" and constructing a repository that has the
information that you think you should have to provide?

On Fri, Sep 7, 2018 at 12:58 PM, Joe Hamman <notifications@github.com>
wrote:

[2018-09-07 17:08] jhamman commented on #373
I think just would want to share this: https://github.com/pangeo-data/pangeo-example-notebooks/tree/pangeo-refactor

As a group leader, I'm hoping that (nearly) all of the JupyterHub configuration is done upstream. I just want to provide:

- my example notebooks
- my environment file
- my computation configs (dask configs in this case)

[2018-09-07 17:13] mrocklin commented on #373
I think that you'll also want to include a small JupyterHub config file
that lists names of github users or orgs that you'd like to see given access

On Fri, Sep 7, 2018 at 1:08 PM, Joe Hamman <notifications@github.com> wrote:

[2018-09-07 17:14] rabernat commented on #373
I am happy to see this moving along and am eager to contribute.

I personally would like to see ocean.pangeo.io be developed. However, I do not have the bandwidth right now (start of semester) to be the point person on this. (I'm hoping @raphaeldussin can get involved when he gets back from vacation.) So I support the idea of using @jhamman as a guinea pig group leader.

A couple of technical poin

[2018-09-07 17:33] yuvipanda commented on #322
I got a response back from them basically asking to use https://cloud.google.com/kubernetes-engine/docs/how-to/alias-ips. I'll open a new issue.

[2018-09-08 03:48] rabernat commented on #309
We should follow up on this discussion. Has their been any progress on either the xesmf side or the zarr side that brings us closer to making this use case work well?

[2018-09-10 20:56] SimonKrughoff commented on #255
I just finished bundling up the Gaia DR2 data.  It turns out that dealing with 60K files is a major pain.  I should have made bigger files, but since I have these, I thought I'd put them here if someone wants to grab them.  I've mirrored the Gaia archive directory structure from [here](http://cdn.gea.esac.esa.int/Gaia/gdr2/).  I'm making available three versions of these files:

* [The original CS

[2018-09-10 21:03] rabernat commented on #255
Excellent. Would you like us to grant you credentials to our GCS storage so you can start uploading and playing around?

[2018-09-10 21:04] martindurant commented on #255
All three links appear to be single massive files with everything (553, 690, 679GB, resp.). That doesn't allow for parallel access-in-place.

[2018-09-10 21:07] rabernat commented on #255
If the goal is to read these items as a single dataset, you will want many fewer shards than 60K. For example, for dask to read them with `dask.dataframe.read_parquet`, I am pretty sure there will have to be an http call for each file. Even with low latency, 60K really adds up.

Maybe you actually want to put them all in a single parquet file?

[2018-09-10 21:08] rabernat commented on #255
I actually don't know enough about parquet to be making recommendations here, so probably disregard what I said.

[2018-09-10 21:14] SimonKrughoff commented on #255
@martindurant sorry, I should have been more explicit.  Each of the three files is a tarball of a complete copy of the Gaia DR2.  Inside that there are many individual datasets (each containing lots of parquet files).  I agree 60K files is too many.  I'll spend some time this week trying to reduce the shear number of files in each dataset.

P.S. I gzipped the tarball which was a complete waste of

[2018-09-10 21:27] martindurant commented on #255
Yes indeed - my point is, that this is not how it should be saved to the cloud, since the only way to work with it would be to download and extract the whole thing locally.

It is surprising that the parquet version ends up larger than the CSV-gzip one given the discussion above. As discussed above, parquet enables you to make optimizations such as categorizing columns (e.g., `phot_variable_flag`,

[2018-09-10 22:28] mrocklin commented on #255
@martindurant my guess is that your expertise would be welcome in determining how best to store this data in parquet format.  Would you be willing to download a small subset of the CSV data and then write a Python script that converts it into efficiently encoded Parquet data?  I suspect that @SimonKrughoff could use some help here.

[2018-09-10 22:29] mrocklin commented on #255
You could then pass that script back to @SimonKrughoff who could apply it to the full dataset and then upload to GCS with the credentials that @rabernat intends to provide

[2018-09-10 22:41] martindurant commented on #255
Is there a prescription of the precision expected in each column? I probably should not guess from the number of digits in the CSV files.

But yes, happy to help out, I can try to get something together in the next day or so.

[2018-09-10 23:11] SimonKrughoff commented on #255
I wasn't intending that those tarballs would be used directly.  I was just trying to make the files available in an easy to download form so that someone could help me put them in GCS in an unpacked form (e.g. `tar zxvf gaia_dr2_parquet.tar.gz | upload_to_gsc.sh` or something).  I don't have creds to do that, but would be happy to put them someplace directly.

Indeed I could use some help with the

[2018-09-11 18:14] kmpaul opened #383 "Outreach & Diversity Activities"
It's come up in our [Governance discussions](https://github.com/pangeo-data/governance/issues) that we should be doing more to reach out to diverse communities to find involvement and membership in the project.  To that end, I have reached out to the Women Who Code organization, and I hope to receive some feedback from them on how we can improve our community diversity and grow the community in a

[2018-09-11 18:33] jhamman opened #384 "Terraform scripts for cloud cluster deployments"
It will be useful to have a set of terraform scripts to ease the deployment of cloud clusters. Currently we have shell scripts that look like this:

[code]

Then we have a bunch of boilerplate commands:

[code]

The top section changes based on the cloud provider while the bottom section is basically fixed. Having terraform scripts for each section would greatly simplify the deployment process and

[2018-09-11 22:36] dsludwig commented on #384
I took a shot at this, but ran into this issue pretty quickly: https://github.com/terraform-providers/terraform-provider-google/issues/2022

It creates the cluster and node pools, but it seems to leave things in a dirty state. I'll create a repository for the terraform manifests I've generated so far.

I believe https://github.com/yuvipanda/hubploy can perform the latter half (from `helm repo add`

[2018-09-12 03:33] jhamman commented on #384
Thanks @dsludwig. Interestingly, I was getting some similar api errors using the gcloud commands above today too.

[2018-09-12 10:34] guillaumeeb commented on #384
As already mentionned before, really interested about this possibility.

@jhamman where does your shell script commands come from? It does look different from what is described in [Cloud setup guide](https://pangeo.readthedocs.io/en/latest/setup_guides/cloud.html):
- you're creating several node pools, with core-pool vs worker-pools differentiation.
- you're installing jupyterhub/binder helm repo

[2018-09-12 15:39] martindurant commented on #255
The following is a script that I came up with, turning the first 100 files into 10 partitions of sizes 27-57MB. You would want to scale this up to the 61,237 files in the full dataset and maybe 2000 partitions. Note that, given the right GCS credentials, you can `.to_parquet('gcs://place/Gaia2.parq')` and include your credentials in somewhere that can be automatically found or in the `storage_opti

[2018-09-13 02:50] jhamman commented on #384
@guillaumeeb - the helm install/upgrade line is not particularly important here. We have been experimenting with multiple node pools and the block of code I posted above reflects what I'm using for binder.pangeo.io. Eventually, I suspect we'll move some of this to the pangeo docs but in the meantime, this was just meant to illustrate functionality.

[2018-09-13 05:38] pelson commented on #370
For operational reasons we can't run all of our ensembles all of the time. 03 and 15 are the "full" runs (with all ensembles), where 09 and 21 are the "quick" runs (only half of the ensembles).

For the same reason, I believe the "quick" run stops much sooner than the "full" run in terms of time too. I don't know the exact numbers off the top of my head, but for example the "full" might run for T+

[2018-09-13 18:01] kmpaul opened #385 "NEW!!! Second NCAR Software Engineer I Position OPEN"
As a sign of NCAR's commitment to the Pangeo project, we have opened a search for a SECOND Software Engineer I!  To see the job posting, [click here](https://ucar.silkroad.com/epostings/?fuseaction=app.jobinfo&jobid=218435&version=1#.W5aNTU6PqEw.email).  Note that this position is _in addition to_ the first NCAR Pangeo SE I job posting, previously announced in Issue #275.

**A word of advice...**

[2018-09-14 15:31] #331 closed

[2018-09-17 14:50] guillaumeeb commented on #384
Same issue currently with GKE, even without terraform.

I'm currently using
[code]
for my tests instead of
[code]

[2018-09-17 18:19] rabernat commented on #373
Now that pangeo-binder is more-or-less deployed, I am eager to move forward with this.

I would like to be involved in setting up ocean.pangeo.io. Hopefully @raphaeldussin can get involved as well.

[2018-09-17 18:37] kmpaul commented on #339
Someone from NCAR will go to this.  I'd like to go myself, but I'm checking my calendar.

[2018-09-17 19:04] rsignell-usgs opened #388 "Is anyone from the Pangeo community attending NSF's CoPe Scoping Sessions next week?"
Is anyone attending NSF's [Coastlines and People (CoPe)](https://coastlinesandpeople.org/) scoping sessions next week?
400 people from academia and government are attending 3-day sessions in either San Diego, Chicago, Atlanta.

Obviously if anyone is attending be a good time to promote building on the success of Pangeo to address the big data/computational needs of the coastal community.

[2018-09-17 20:47] raphaeldussin commented on #373
@rabernat sure!

[2018-09-18 03:55] JiaweiZhuang commented on #334
I am still interested in this. Just don't have too much time so far...

There's a roadmap: https://github.com/JiaweiZhuang/xESMF/pull/26#issuecomment-406458273

[2018-09-18 15:37] guillaumeeb commented on #376
So I will probably attend this conference and propose a paper. Two choices depending of other people here:
- I remain focused on CNES side, and give a talk about our use cases at CNES arount Jupyter/Dask/Dask-jobqueue.
- If nobody else is doint it, I can divide the paper in half, presenting Pangeo initiative in more details and then talking about its use at CNES.

@jacobtomlinson will you go there

[2018-09-18 16:57] rabernat commented on #376
Just chiming in to say that I really hope someone can say something about Pangeo at this confierence. @guillaumeeb, I would be happy to share our existing pangeo slides.

What does a "paper" mean at a conference like this? Is it peer reviewed?

[2018-09-18 20:47] SimonKrughoff commented on #255
@martindurant Thanks for the starter script.  That is very useful.  I'm now trying to build new parquet files in larger chunks.  I'd like to do this in multiple processes.  Can I merge the parquet datasets as a post-processing step?  Also, I don't have `SNAPPY` in the environment I'm using.  Is `GZIP` going to be ok?

[2018-09-18 20:50] martindurant commented on #255
Since this is using Dask, you already have parallelism. In theory, you could even set the job up on a distributed cluster, if all the nodes have direct access to the data, e.g., on a NFS mount. Probably you will be fine here using the standard threaded scheduler.

It takes somewhat more CPU power to decompress, and in this case results in only slightly smaller file-sizes; but yes, it's fine.

[2018-09-18 21:02] mrocklin commented on #255
Note that the repartition step in @martindurant 's script may already give you what you want here

You might consider installing snappy or some other efficient compression system.  It makes a pretty significant difference.

    dask.config.set(scheduler='processes')

[2018-09-18 23:10] #336 closed

[2018-09-19 07:34] jacobtomlinson commented on #376
It is unlikely that I will go personally as I'm expecting a newborn any day now and so will aim to keep international travel to a minimum for a while. However there may well be attendance from the Met Office. @niallrobinson do you know who went before (was it Jeremy?) and do you think we will send anyone this time (maybe @tam203)?

I agree that someone should definitely present Pangeo there.

[2018-09-19 09:00] guillaumeeb commented on #376
@rabernat I would be happy to have your slides and to say something about Pangeo.

The 4 pages paper here is peer-reviewed by the Program Committee, usually some technical experts or managers from ESA or other national space agencies like CNES (see https://www.bigdatafromspace2019.org/QuickEventWebsitePortal/2019-conference-on-big-data-from-space-bids19/bids-2019/ExtraContent/ContentSubPage?page=6

[2018-09-19 17:44] mrocklin opened #391 "Weekly checkin meeting?"
Do we want to have a short weekly checkin meeting to synchronize work and issues happening around Pangeo development?  This might help to align efforts and also form a stronger social base.

[2018-09-19 19:42] guillaumeeb commented on #391
That definitly sounds good to me!

For example I'm currently experiencing cloud deployment when I find free time, but I'm not convinced I use and update the correct procedure, see #378. It seems there is some activity on this with helm chart or jupyterhub guide. And there's also an experiment with terraform and maybe other tools mentioned by @jacobtomlinson.

I'm also trying to work on a basic sat

[2018-09-19 21:01] dsludwig commented on #373
Thanks @yuvipanda, that was enough to get me unblocked.

What I've got so far:

* Cluster deployed using the sample scripts provided in https://github.com/pangeo-data/pangeo/pull/378/files
* CI process attached to the repository: https://circleci.com/gh/dsludwig/example.pangeo.io-deploy/16
  * when the repository changes, the cluster is redeployed with the config values & image
* Image based on th

[2018-09-20 00:08] rabernat commented on #391
Thanks for suggesting this Matt. It's a good idea. My schedule is very tight this semester, but I will try to make it as much as possible.

My preferred time would be Wednesday morning.

FYI @jhamman is currently on vacation.

[2018-09-20 04:15] jhamman commented on #391
+1 on this idea. Wednesday mornings would work for me (or probably any other morning). Just keep in mind that I'm on Pacific Time so preferably nothing earlier than 8 PT.

[2018-09-20 08:09] jacobtomlinson commented on #391
8PT would be 15GMT so that's fine with me. I am about to disappear on paternity leave at some point in the next few weeks, so probably best to get at least one in before I go.

I would suggest we aim to have one tomorrow?

[2018-09-20 08:51] guillaumeeb commented on #391
Wednesdays are not ideal for me, I have to leave work at 17:20, sot 15:20 UTC due to too many paternity leaves already taken 🙂. I would prefer tuesday or thursday where 15UTC is generally fine for me.

Not available tomorrow, sorry for that, but it's certainly fine to do that without me, just keep everyone posted of the discussions!

[2018-09-20 16:27] mrocklin commented on #283
Is this resolved?

[2018-09-20 16:27] mrocklin commented on #199
Had a great time.  Closing.

[2018-09-20 16:27] #199 closed

[2018-09-20 17:09] kmpaul commented on #391
Wednesday mornings usually work well for me, so I'll put my vote in for that.

[2018-09-20 21:36] jhamman commented on #283
Yes, it sure is! Closing with the following references:

- http://binder.pangeo.io/
- https://pangeo-binder.readthedocs.io/en/latest/
- https://github.com/pangeo-data/pangeo-binder

[2018-09-20 21:36] #283 closed

[2018-09-21 12:18] PhenoloBoy commented on #143
Could be possible to revamp this Issue !? I'm fighting with the exact problem !!!
Instead of using the delayed approach I took the road of futures but it would be nice to discuss more about this.

[2018-09-21 13:52] Chiara7 opened #392 "problem with xarray.DataArray.values"
Hello all,
I am Janjenka Chiara, a student from the German Potsdam Institute of Climate Impact Research and I am working with Pangeo. I am working with the ocean data set 'pangeo-data/cm2.6/one_percent/temp_salt_u_v-5day_avg/', and since Wednesday and error occured while I used the command 'values' on an xarray.DataArray (see the example below). Before Wednesday I could use the command without get

[2018-09-21 13:56] mrocklin commented on #392
Welcome @Chiara7 !

Can you verify that the following runs for you without erring?

    client.get_versions(check=True)

[2018-09-21 14:00] rabernat commented on #392
@Chiara7: based on our email conversations, I developed the following example notebook for you that shows how to calculate the meridional overturning streamfunction in the South Atlantic. Hopefully this will help you move forward:

https://gist.github.com/rabernat/727dbdce7e31d326a4543f892d6f11f5

In general, I would recommend reviewing the xarray documentation and tutorial (https://github.com/pan

[2018-09-21 14:53] rabernat commented on #392
I think the problem is due to a recent upgrade I made to pangeo.pydata.org. I updated to chart version `0.1.1-a8f057f`, which has the following lines in `worker-template.yaml`.
[code]

https://github.com/pangeo-data/helm-chart/blob/master/docker-images/notebook/worker-template.yaml

@apatlpo and others are experiencing this exact same issue. I peeked at @apatlpo's environment and saw that `worker-

[2018-09-21 15:09] rabernat commented on #392
Here is what happened.

In pangeo-data/helm-chart#65, I updated the notebook docker image to point to a different worker image. Chartpress successfully built the image in PR mode:
https://travis-ci.org/pangeo-data/helm-chart/builds/429680410
(but because it was a PR, it did not deploy, i.e. push to dockerhub)

When that PR was merged, chartpress should have re-built the image, tagged it, and pushe

[2018-09-21 15:14] rabernat commented on #392
or @jacobtomlinson

[2018-09-21 15:37] rabernat commented on #392
see https://github.com/pangeo-data/helm-chart/issues/68

[2018-09-21 15:55] rabernat commented on #392
Everything should be fixed now.

[2018-09-21 16:30] mrocklin commented on #334
I'm reading through this issue again and wanted to clarify something I said earlier in https://github.com/pangeo-data/pangeo/issues/334#issuecomment-404038038

Probably the right way to do this in a way that avoids sending along the weights with every task is to wrap them in a delayed object, something like the following:

[code]

Or you could also run the function that generates the weights on a

[2018-09-21 16:36] Chiara7 commented on #392
Yes, the problem is solved, everything does work again. Thank you very much for your great and very fast help!

[2018-09-21 17:05] JiaweiZhuang commented on #334
@mrocklin Thanks, that's useful to know!

[2018-09-21 17:34] mrocklin commented on #334
@JiaweiZhuang I notice that in your [recent notebook](https://github.com/JiaweiZhuang/sparse_dot/blob/master/read-regrid-write-pipeline.ipynb) under the "Build pipeline" section that you're pulling out a dask array from an XArray dataset, calling map_blocks, and then rebuilding the XArray dataset around it.  I assume that no one has managed to get XArray's `apply_ufunc` to work well with this yet?

[2018-09-21 18:29] dsludwig commented on #373
Thanks @yuvipanda. I ended up getting the home directory populated with an entrypoint, copying content from `/srv/home` to `${HOME}`.

I have a deployed instance that seems to be working correctly. Try it out here: http://104.154.59.98

It's deployed with the notebooks here: https://github.com/dsludwig/example.pangeo.io-deploy/tree/staging/deployments/example.pangeo.io/image
and the environment he

[2018-09-21 18:33] mrocklin commented on #373
It would be good to get @jhamman's thoughts here.

As a next step I recommend that we separate out the deployments/
example.pangeo.io folder to a separate repository and give access to
@jhamman to play around with it, commit changes, see results, etc..  He
might be able to provide feedback on what feels natural and not.

(I'm volunteering Joe here, but others may also be interested in
participatin

[2018-09-21 20:13] dsludwig commented on #384
My first cut is here: https://github.com/dsludwig/pangeo-terraform

It looks like Google support is trying to resolve the underlying issue that I was encountering with autoscaling here: https://github.com/terraform-providers/terraform-provider-google/issues/2022, so when that is solved, I'll pick it back up again.

[2018-09-21 21:06] JiaweiZhuang commented on #334
@mrocklin Thanks again for looking into this.

I think `apply_ufunc` should definitely work. This [earlier notebook](https://github.com/JiaweiZhuang/sparse_dot/blob/master/apply_ufunc_with_dask.ipynb) has a simple demo, although without dask.distributed. I just feel easier to work with pure dask arrays at development stage.

As for possible improvements, I just got a small confusion about the perf

[2018-09-21 21:30] SimonKrughoff commented on #255
@martindurant @mrocklin Thanks both for the help!  This is amazing.  I did as you suggested and merged the csvs into a smaller number of files and I'm using a cluster to repartition.
![image](https://user-images.githubusercontent.com/945715/45906939-dfb3e980-bdaa-11e8-8f80-cba16fe1088e.png)

[2018-09-21 23:42] rabernat commented on #255
I think Simon has seen the light. 💡

Sent from my iPhone

[2018-09-22 01:35] rabernat commented on #392
@Chiara7 - please feel free to open further issues as you move forward with your project. We are very happy to help.

[2018-09-22 01:35] #392 closed

[2018-09-22 18:28] SimonKrughoff commented on #255
I certainly have, unfortunately, my workers ran out of memory and were killed (I assume by the k8s OOM culler).  What is the best way to avoid that.  Is it the size of the CSV files that drives the memory need, or can I get around it by setting a blocksize?

[2018-09-23 03:57] mrocklin commented on #255
I noticed that things were under pressure from the dashboard (memory plot
was orange, also some orange read/write blocks in the task stream).  It
looks like things were being released well from memory though during
processing, which was a confusing coincidence (the colored sections of the
progress bars were mostly transparent, indicating released results).

I might check the info tab and then clic

[2018-09-23 13:06] mrocklin commented on #391
I suggest that we meet regularly at 8am Wednesday mornings.

I apologize that this doesn't work well for you @guillaumeeb .  It was unlikely that we would find a time that worked well for everyone.

[2018-09-23 13:07] mrocklin commented on #391
Sorry, 8am US Pacific, 9am US Mountain, 11am US Eastern, 15:00 UTC

[2018-09-24 07:52] jacobtomlinson commented on #391
Sounds good to me. Are we checking in at https://appear.in/pangeo

[2018-09-24 08:39] guillaumeeb commented on #391
Yes this is always difficult. I can try to do the first 20 minutes or even 30 if I can, if you don't mind me quitting suddenly in the middle of the conversation?

[2018-09-24 10:20] jacobtomlinson commented on #391
Weekly is quite a short interval and there is only so much that can happen in that period, so I would be surprised if the meeting lasts longer than 20 mins anyway. As we've not spoken for a bit I imagine the first one or two will be longer, but I think it will settle down after that.

[2018-09-24 13:37] RPrudden opened #393 "Trustworthy Data Repositories - CoreTrustSeal Cohort Opportunity"
Just wanted to share this email that was sent to the AGU mailing list. They are offering certification for Earth and environmental science datasets. It might be worth considering for open datasets in the Pangeo ecosystem.

[2018-09-24 14:19] guillaumeeb commented on #384
Thanks @dsludwig. https://github.com/terraform-providers/terraform-provider-google/issues/2022 has been fixed earlier today, I tried your terraform config and it worked like a charm for cluster and pools creation.

I can see you've already began working with kubernetes commands integration into the TF config files. Some open points on my side:

- We should also use Terraform to ensure we have a pu

[2018-09-24 17:58] #337 closed

[2018-09-24 20:05] rabernat commented on #373
@dsludwig this seems great! I think the procedure you have defined sounds reasonable.

It could be useful to brainstorm what are all the ways that the different deployments can be customized. Here are a few:
- environment and packages (completely specified by `environment.yml`)
- example notebooks (should ideally be domain specific) (also, what is the procedure for adding / updating examples?)
- c

[2018-09-24 20:55] mrocklin commented on #255
It would depend on what's going on.  In your situation I would investigate the dashboard more heavily to determine what's going on (docs [here](http://docs.dask.org/en/latest/diagnostics-distributed.html#dashboard)), and then make some change based on those results.  I'm busy the next couple days, but would be happy to jump on a screencast later this week if it's still helpful (others are also pro

[2018-09-24 22:00] SimonKrughoff commented on #255
Thanks for the pointer.  I'll take a look.

[2018-09-25 13:05] rabernat commented on #393
This is a cool idea. Thanks @RPrudden!

One challenge here is that pangeo is not an "official" repository of any datasets. We have mirrored several in order to make them more cloud-friendly. But our ultimate goal is to persuade the data providers to share their data this way from the beginning.

[2018-09-25 16:17] mrocklin commented on #373
@dsludwig yesterday you mentioned that you probably needed to push some changes upstream to a few other repositories (hubploy, repo2docker).  Would you mind linking to those PRs here when you submit them?

[2018-09-25 17:05] SimonKrughoff commented on #255
Thanks for the pointer.  That video is really useful.
First off, the logs look dire.  Lots of warnings and errors like the following:
[code]
I'm assuming that is from saturating the underlying shared filesystem.

The other thing I notice is that the `from_delayed` function has a lot of tasks in memory.  That seems bad.  Here is a screenshot while the job is running:
![image](https://user-images.gi

[2018-09-25 17:39] SimonKrughoff commented on #255
It does seem like something is leaking memory, but I'm not sure what it could be. Typical sizes I see are ~200MB.

![image](https://user-images.githubusercontent.com/945715/46031932-1e99b600-c0af-11e8-94fd-20a482662573.png)

I'm only saying this because I've seen that be the limiting factor in other, more traditional highly parallel scenarios.

[2018-09-25 17:46] mrocklin commented on #255
OK.  This doesn't seem to be just a performance bottleneck though, it sounds like in your situation Dask is feeling memory pressure, has cleared out as much data as it can find (writing it to disk to free up space) and yet it is *still* low on memory.  Something outside of Dask is taking up this space.

Some common causes I've seen before:

1.  People are using some custom code that doesn't handle

[2018-09-25 17:53] SimonKrughoff commented on #255
I am just using `read_csv`, `repartition` and `to_parquet`.  I can post the full notebook in a bit.

[2018-09-25 17:55] mrocklin commented on #255
Is the input data public?  Is this something that someone like @martindurant could try investigating directly?  (if he wants to volunteer for this of course).

[2018-09-25 19:05] SimonKrughoff commented on #255
It is definitely public.  @martindurant already did a proof of concept using the first 100 files.  This is essentially my attempt to scale that up to the full dataset.

[2018-09-25 20:03] SimonKrughoff commented on #255
FWIW, I'm also seeing a lot of the following in the logs:
[code]

[2018-09-26 00:10] dsludwig commented on #373
I've submitted https://github.com/jupyter/repo2docker/pull/413 and https://github.com/yuvipanda/hubploy/pull/2

[2018-09-26 00:39] mrocklin commented on #391
Reminder that we're having a weekly group meeting tomorrow.  I'll recommend the following structure:

1.  Quick reports from people on things that they've been working on, if they've been doing pangeo related work recently

    Example: "This week I worked on science case X.  I ran into performance issues with dask array due to small chunk sizes and am still working through these.  I think I can m

[2018-09-26 00:40] mrocklin commented on #391
Lets meet at https://appear.in/pangeo at 11am US Eastern, 15:00 UTC

[2018-09-26 01:11] rabernat commented on #391
Sounds perfect Matt. Thanks for taking the initiative to organize this.

Sent from my iPhone

[2018-09-26 13:02] guillaumeeb commented on #391
As I probably won't be able to attend, here are my list of open points that could benefit from this discussion:

1. Quick report
    -  Working on deploying a Pangeo infrastructure on GCE, with or without @dsludwig terraform script. All steps well understood and OK.
    - I will probably need some help for correctly starting KubeCluster soon (it does not seem to work yet), but I will reach to some

[2018-09-26 14:18] rabernat opened #396 "Pangeo + CEDA / JASMIN"
The UK NERC [Center for Environmental Data Analysis](http://www.ceda.ac.uk/) has a mission closely aligned with Pangeo.

In particular, they operate the [JASMIN](http://www.ceda.ac.uk/analysis-environments/) service. Has a Pangeo environment been deployed here? Is this something anyone wants to try?

I am randomly tagging some CEDA people to see if they are interested in discussing: @mkjpryor-stfc

[2018-09-26 14:22] mrocklin commented on #396
We worked closely with CEDA when developing the dask-kubernetes project.  That work came from early work by @mkjpryor-stfc and others.

[2018-09-26 14:34] philipkershaw commented on #396
Hi @rabernat, I'm tech manager for CEDA.   We're definitely interested in collaboration with Pangeo and we have been tracking activities since @kmpaul first told me about the project.   We have a project the NERC DataLab which could be of interest.  It provides notebooks and integrates with Dask and PySpark.  It deploys on Kubernetes.  We have run it in a project on our OpenStack cloud.  @mkjpryor

[2018-09-26 15:02] rabernat commented on #391
Notes: https://docs.google.com/document/d/1BkL0arf1Lz6fHgVBEJNxKbFmVN8glNQXmDKdsuT0GcU/edit?usp=sharing

[2018-09-26 19:07] jhamman opened #399 "Setting up neuro.pangeo.io"
I just sat down with @arokem to discuss setting up a pangeo for the neuroscience community. He is interested in test driving the recent terraform/hubploy work that @dsludwig has been doing.

I know @dsludwig is working on some documentation for the following repositories:

- https://github.com/dsludwig/pangeo-terraform
- https://github.com/dsludwig/example.pangeo.io-deploy

@arokem has some experi

[2018-09-26 19:46] guillaumeeb commented on #391
Thanks for the notes! A few things that interest me:
- >NASA Pangeo award should be kicking in any day now

  Could you elaborate on this this? What are Pangeo relations with NASA?
- https://github.com/dbuscombe-usgs/cdi_dl_workshop: nice !
- >Scott Henderson GeoTIFF example

  I imagine this is on satellite Data? Could I get this one?
- CI/CD: I'm happy to help as a guinea pig or for documentatio

[2018-09-26 20:50] mrocklin commented on #391
Sorry we couldn't find a time that worked for everyone.  I would be happy to meet with you any time one-on-one @guillaumeeb if you're interested.  I suspect that other people would also love to get to know you.

The University of Washington, NCAR, and Anaconda have a joint grant from NASA ACCESS.  @jhamman can probably point you to the proposal.  It is about cloud infrastructure to handle satellit

[2018-09-26 21:42] martindurant commented on #255
I tried the same just now, repartitioning into 3223 files (to have exactly 19 inputs per output), and I found that with 20 workers on the pangeo cluster (120GB memory), things chugged along nicely with the fastparquet backend, with memory use maybe slowly increasing, but staying below 65GB. Note that it takes a long time just to create the dataframe object and also very long to send it to the sche

[2018-09-26 22:42] SimonKrughoff commented on #255
Thanks for looking at it.  I cast the int columns as floats so that it could handle missing values, but maybe the thing to do is to drop the rows with NA values.  I also found that there are apparently hyphens in some columns, thus my addition to the NA value list.

[2018-09-26 23:46] arokem commented on #399
👋 Hi everyone! Thanks for introducing me to everyone, @jhamman! I am looking forward to working with you all on this. Let me know when you have documentation up on these repos. In the meanwhile, I'll be trying out the existing documentation (now with #378 merged!) in the next couple of days.

[2018-09-26 23:48] martindurant commented on #255
For reference the metadata section of one of the files is 19kB big on-disc, so aggregating those cannot be the problem, even if they are somewhat bigger in memory.

prun on dd.read_csv (note the total run time)
[code]

[2018-09-27 01:55] jhamman commented on #391
@guillaumeeb - we'll have a full announcement on the NASA ACCESS award soon. The basic idea is to start tuning parts of pangeo for remote sensing datasets. @scottyhq is about to publish a blog post on some preliminary/related work.

[2018-09-27 04:04] jhamman opened #400 "NASA RFI: SMD Strategic Plan for Scientific Data and Computing"
NASA is requesting community input for its strategic plan for scientific data and computing. I plan to submit a short Pangeo related white paper related to this call. If you are interested in participating in this, please speak up below.

-------

REQUEST FOR INFORMATION FOR

INPUTS TO THE SCIENCE MISSION DIRECTORATE STRATEGIC PLAN FOR SCIENTIFIC DATA AND COMPUTING

Solicitation Number: NNH18ZDA01

[2018-09-27 13:02] jonahjoughin commented on #373
@jhamman I have a working example of a terraform-deployable cluster on AWS [here](https://github.com/jonahjoughin/pangeo-himat) which @aaarendt has been using for the last week or so. Nothing is running through helm right now, because everything is going directly through terraform's Kubernetes provider, but I've gotten the deployment process down to:
[code]

[2018-09-27 13:04] rabernat commented on #399
I feel like @choldgraf may be interested in following this issue.

[2018-09-27 13:08] rabernat opened #401 "use NFS for cloud home directories"
In the current pangeo.pydata.org, we use 10GB persistent volumes for each user. This adds up with hundreds of users, and most of this space is unused.

A more flexible choice would be to have a central file server for the cluster and use NFS to mount user home directories. At the developers meeting, @yuvipanda mentioned that this was already available in zero2jupyterhub-k8s (or maybe I misundersto

[2018-09-27 13:08] rabernat commented on #401
Also related to #272.

[2018-09-27 13:15] jacobtomlinson commented on #401
This is definitely on my wish list. We are restricted by the fact that AWS don't have NFS as a service available in London. But that doesn't stop you from doing this on Google Cloud.

It would also open up the ability to mount the user home directory on all the dask workers in `dask-kubernetes`. Which would be nice!

[2018-09-27 14:55] martindurant commented on #255
`df.dask` has 183,711 entries, and serialises to 164,630,861 bytes, which takes 260s.

[2018-09-27 15:45] guillaumeeb commented on #391
Thanks for that, we could try to find some time to do this and speak about Pangeo and Dask.

@jhamman Thanks for the clarifications here, hope I can talk to some people at NASA to possibly work in coordination. Perhaps on deploying remote-sensing.pangeo.pydata.org?

And I've found [Scott Henderson GeoTiff example](https://github.com/scottyhq/pangeo-example-landsat-2018/blob/master/PangeoSprintLand

[2018-09-27 16:43] mrocklin commented on #391
I'm free tomorrow 8-10:30am US East, 12:00-14:30 UTC if that works for you.  Also very free next week.

You might also want to chat with @dsludwig at some point about setting up a cloud deployment using his CI system.  I suspect that you could be a very good first user / dev.

[2018-09-27 17:07] SimonKrughoff commented on #255
OK.  This seems like an issue with our configuration.  I'll look at it more when our k8s administrator is back next week.  Thanks again for all the help!  I really appreciate it, and I'm excited by the prospects of this ecosystem.

[2018-09-27 17:38] choldgraf commented on #399
![](https://media.giphy.com/media/3ohzdIuqJoo8QdKlnW/giphy.gif)

[2018-09-28 02:10] yuvipanda commented on #401
Both EFS and Google Cloud filestore expose themselves as NFS. So they match our criteria of cloud services that expose a standard interface. So using either for storage seems fine.

Z2jh does make it easy to mount NFS on each pods, and we should make it!

[2018-09-28 04:47] yuvipanda commented on #401
Yes! For Google cloud,

1. Create a Filestore instance https://cloud.google.com/filestore/
2. Configure z2jh to use it https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/421

You might have to switch to a nodepool with Ubuntu base images rather than the default COS ones for it to work. You should also decide what to do with the current home directories you have.

[2018-09-28 08:33] jacobtomlinson commented on #401
There is no avoiding this. But all cloud providers should have a service which presents generic NFS. We have a "how to get kubernetes on GCE" step of the instructions and we just need to extend that. Once that is done everything else should be the same.

[2018-09-28 12:38] guillaumeeb commented on #373
@jonahjoughin it seems that your note using Jupyterhub nor dask-kubernetes in your deployment, am I correct?

If I understand correctly, you start one notebook server and one dask scheduler, does your cluster support multitenancy? Does it provide auto scaling features based on the processing load as KubeCluster does with adaptive mode?

[2018-09-28 13:00] jonahjoughin commented on #373
It isn't using JupyterHub or dask-kubernetes for the time being. The primary aim of this project is to make it simple for anyone to set up and tear down a private cluster quickly. Because there isn't any need for multi tenancy, autoscaling is relatively unimportant. The pool of dask workers simply fills up any available space on the cluster, the maximum size of which is determined by the user.

[2018-09-29 16:41] #347 closed

[2018-09-29 16:47] jhamman opened #403 "Pangeo GitHub membership"
I've been toying around with some ideas related to how we manage Pangeo's membership. I want to get people's thoughts on a few ideas:

Currently, the Pangeo community is loosely defined and membership is spread across a few areas:
- an old pangeo list serve that isn't used much anymore (pangeo@googlegroups.com)
- the pangeo github organization (currently 24 members)
- the pangeo gitter channel (cu

[2018-09-29 17:01] mrocklin commented on #403
I don't think that we should do anything special for the 1000 people who
have logged in.  I don't think that they should be considered members.
FWIW I suspect that the median user would prefer not to get an e-mail from
us about us removing their drive.  They tried it once and haven't come
back.  Even for those who do use it, we've been pretty diligent about
saying that it's experimental and should

[2018-09-29 22:44] jhamman commented on #403
Fair point. We can disregard the list of users on the JupyterHub or come up with a metric that helps describe if a use has been routinely using the platform.

[2018-09-30 15:40] martindurant commented on #255
The dataset is now available as follows
[code]

I made this in a single process, batching over the input files (this took a long time), 35 per output (parallelism with threads). Compression is gzip, those int32 columns are all float, and although the data-files were written with pyarrow, the metadata is fastparquet. Final size is 0.5TB. In short, this might not be the *final* version, but a good o

[2018-09-30 20:16] guillaumeeb commented on #376
ping @rabernat and @jhamman (and maybe others)? Would you share Pangeo slide and eventual papers/proposals that you may have? I will need to begin writting something soon.

[2018-10-01 15:34] mrocklin opened #404 "Bad behavior on pangeo.pydata.org, remove global access?"
I received this e-mail from Google:

It looks like someone with bad intent has found that we offer a fully public place to do bad things.

I recommend that we turn off global access, and instead restrict access to people within the pangeo-data org.

[2018-10-01 15:37] rabernat commented on #404
Sounds like a good idea Matt.

We should also enable https. This is easy to do within zero2jh.

[2018-10-01 15:38] mrocklin commented on #404
No objection to https, but I think that it's probably a separate topic.

On Mon, Oct 1, 2018 at 11:37 AM Ryan Abernathey <notifications@github.com>
wrote:

[2018-10-01 15:51] rabernat commented on #269
Hi everyone. I was invited to give a presentation at an EarthCube workshop by Gelu Nita entitled "Towards Integration of Heliophysics, Data, Models, and Analysis Tools." at New Jersey Institute of Technology on Nov. 14. I would really like to be able to show off some simple example of pangeo integrating with solar astronomy. @MSKirk, can we revive this issue and continue to pursue this? It sounds

[2018-10-01 15:54] martindurant commented on #269
I assume @SimonKrughoff would also be interested in an astro.pangeo.io .

[2018-10-01 15:54] rabernat commented on #404
Who is our point person for actually making these changes and re-deploying the cluster?

Unfortunately I can't work on this until Wednesday, and it is considerably more urgent.

@jacobtomlinson is probably on paternity leave by now. Maybe @jhamman or @dsludwig could come through in a pinch?

[2018-10-01 15:56] mrocklin commented on #404
If @dsludwig is around I think that he'd be appropriate.  He's on
west-coast time and may just be getting to work now.  I'll be checking in
with him shortly anyway and will bring this up.

On Mon, Oct 1, 2018 at 11:54 AM Ryan Abernathey <notifications@github.com>
wrote:

[2018-10-01 16:04] rsignell-usgs commented on #404
Looks like only Matt and Joe have access to pangeo-data org?
https://github.com/orgs/pangeo-data/people
I would like to be considered for membership.   😺

[2018-10-01 16:11] jhamman commented on #403
This little script will add members from the website yaml file to the github org:

[code]

How do we feel about automating this as part of the doc build?

[2018-10-01 16:14] mrocklin commented on #403
There are many more members, but almost all of them are private.  You can
change your visible membership to public.

On Mon, Oct 1, 2018 at 12:11 PM Joe Hamman <notifications@github.com> wrote:

[2018-10-01 16:38] dsludwig commented on #404
I'd be happy to configure this - I believe I'd need access to the Helm values files to redeploy the application.

It should be a straightforward matter of setting this value: https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/master/jupyterhub/templates/hub/configmap.yaml#L56

[2018-10-01 16:39] mrocklin commented on #404
@rabernat what is the most recent config file?  I suspect that you are the
last person to move things along.

On Mon, Oct 1, 2018 at 12:38 PM Derek Ludwig <notifications@github.com>
wrote:

[2018-10-01 16:48] rabernat commented on #404
@dsludwig: We try to always keep the config up to date here: https://github.com/pangeo-data/pangeo/tree/master/gce
It is currently up to date now, so any changes you make, please push them. What would be a good way to share the secrets? Email?

Perhaps we should simultaneously update the login page to explain the new procedure for getting access: https://github.com/pangeo-data/pangeo-custom-binder

[2018-10-01 16:49] rabernat commented on #404
To enable https, all that is needed is:

[code]

[2018-10-01 16:53] mrocklin commented on #404
I've communicated the secrets to Derek in side channels

On Mon, Oct 1, 2018 at 12:49 PM Ryan Abernathey <notifications@github.com>
wrote:

[2018-10-01 17:28] martindurant commented on #255
Following https://github.com/dask/dask/pull/3978 , you can get up and running faster with the fastparquet driver as
[code]

[2018-10-01 17:29] MSKirk commented on #269
I like your idea, @rabernat, to shoot for a Nov. 14 demo. What do you need from me to help you move forward?

[2018-10-01 18:19] dsludwig commented on #404
I've redeployed the instance with the new permissions. It looks like the check only takes place at login, so an administrator will need to kick any currently authenticated users to force the membership check.

[2018-10-01 19:20] jhamman commented on #404
@pangeo-data/pangeo-members @pangeo-data/pangeo-admin - we have just changed access to pangeo.pydata.org to whitelist based on organization. Your affiliation with the pangeo-data organization needs to be public for this to work. So if you are wondering why you don't have access anymore, check to make sure your affiliation is public.

- https://github.com/orgs/pangeo-data/people
- https://help.gith

[2018-10-01 19:38] rabernat commented on #400
I definitely want to take part.

[2018-10-01 19:39] rabernat commented on #404
Has this been done?

[2018-10-01 19:42] jhamman commented on #404
Yes. Still working on removing the PD.

[2018-10-01 19:46] rabernat commented on #269
There are two ways we could purse:
- Work on standing up astro.pangeo.io and develop the example from there (would want to collaborate with @SimonKrughoff)
- Develop a standalone example and run it via [pangeo binder](https://medium.com/pangeo/pangeo-meets-binder-2ea923feb34f)

The first one is definitely more work.

In either case, you will probably want to use intake-astro to read the `SDO_AIA_I

[2018-10-01 19:53] mrocklin commented on #269
To be clear, tools like intake and holoviews/datashader are totally optional.  In your position I would stick to whatever technologies you're comfortable with, probably adding in as few as possible to start.  I suspect that adding Dask and Kubernetes is enough novelty when getting started.

[2018-10-01 19:59] rabernat commented on #269
Fair point about holoviews/datashader. But intake solves a key problem for how to load the data lazily from GCS. I just tried it and it works beautifully

[code]

(Have to first `conda install -c intake intake-astro`.)

[2018-10-01 20:00] mrocklin commented on #269
As you like

[2018-10-01 20:15] martindurant commented on #269
Obviously I will also try to help where I can - but time is always limited.
The code in intake-astronomy was partly derived from scipy work with some of the people on this thread, so they may have equivalent functionality elsewhere that I am not aware of.

[2018-10-01 20:30] rabernat commented on #269
All of the following works beautifully for me. I am currently browsing the sun. ;)

[code]

![image](https://user-images.githubusercontent.com/1197350/46313962-439e9500-c597-11e8-8442-3fc9df85460d.png)

[2018-10-01 20:35] mjz19910 commented on #404
Hmm, reason for restricting it to organization-only goes to me nmap ing random servers last week on a pangeo terminal...

[2018-10-01 20:36] wtbarnes commented on #269
See discussion on sunpy/sunpy#2715 re: lazily loading FITS. SunPy Map objects can also be constructed from a Dask array and an appropriate metadata object. `intake-astro` might be a drop-in replacement for all of this though!

At the SciPy meeting back in July, @Cadair and I used pangeo and some of the AIA data on GCS to do some pretty cool data pipe-lining though we never got around to writing it

[2018-10-01 20:36] mrocklin commented on #269
:)

The next step here might be to make a binder?

Scientifically I suspect that it would be interesting to rechunk into
blocks and then do some time-series analysis on each pixel.  I'll let the
actual scientists say what they think though :)

On Mon, Oct 1, 2018 at 4:30 PM Ryan Abernathey <notifications@github.com>
wrote:

[2018-10-01 20:51] rabernat commented on #269
FWIW, this is structurally very similar to how we often analyze Earth imagery data. It is really fun to rechunk and persist into a dask cluster and then do the timeseries analysis in parallel.

I agree. For my part, I am obviously not qualified to develop the heliophysics-specific analysis, but I can advise on how we approach similar tasks from the earth-science perspective.

I support @mrocklin's

[2018-10-01 20:54] rabernat commented on #403
The pangeo-members team currently has write access to the main pangeo repo (this one). That is probably not what we want.

We should think about how to structure the github teams to manage access.

[2018-10-01 20:57] MSKirk commented on #269
@wtbarnes  and I are both very familiar with [sunpy](sunpy.org) and map objects. I think for the Sunpy community, using some of their [Maps](http://docs.sunpy.org/en/stable/guide/data_types/maps.html) code will foster a lot more good will than doing without it. Plus you can get the standard color tables for each of the images (I have my own issues, with them but won't get out my soap box just yet)

[2018-10-01 20:58] rabernat commented on #404
Hi @mjz19910, yes I believe that is correct! We have been running a completely open service here, and now we have had a security alert from google (who is sponsoring our credits). So we needed to do something. I'm afraid the era of completely open pangeo.pydata.org has come to an abrupt end. Even if your actions were not malicious, it is probably for the best.

But you are welcome to continue to u

[2018-10-01 21:01] rabernat commented on #269
Of course! Definitely best to leverage all the work that has gone into sunpy. It's clearly an amazing package.

For visualization, I am personally obsessed with holoviews / datashader and what they can do with cloud-backed datasets. (The screenshot I posted above was dynamically zoomable and scrollable in time.) For the long term, creating some integration layer between sunpy and holoviews might a

[2018-10-01 21:04] martindurant commented on #269
There are, though, further advantages to using Intake that may be attractive, if it is not too much of an imposition to use. As a location to frame and put data loading code, that is only part of the purpose, but consider the idea of encoding data locations and loading parameters into catalog files, which can potentially be stored remotely and updated in-place. Note that the headers, including WCS

[2018-10-01 21:04] MSKirk commented on #269
I am giving an introductory sunpy tutorial at the end of the month. I will play around with holoviews / datashader to see if I can get a "[hey look, I am flying](https://xkcd.com/353/)" moment.

[2018-10-01 21:13] rabernat commented on #269
Ok, so I will revisit this issue in a few weeks to see how things are progressing.

In the meantime, please feel free to put examples into https://github.com/pangeo-data/pangeo-astro-examples

[2018-10-01 21:38] jhamman commented on #403
I've taken write access away from the pangeo-members team. I think we should move to a place where smaller teams have admin/write access to specific repositories.

- pangeo-members: all members of the pangeo GitHub org - read access to all pangeo repos
- pangeo-admin: limited group of pangeo developers - admin access to all pangeo repos
- various smaller teams for managing repo specific admin/writ

[2018-10-02 00:19] kmpaul opened #410 "Welcome Anderson Banihirwe!"
I want to formally announce that Anderson Banihirwe (@andersy005) has joined the NCAR Pangeo team as of today!

Anderson recently graduated from the University of Arkansas at Little Rock, in May 2018.  He spent a summer internship working for Quansight, and before graduating, Anderson was a 2017 SIParCS summer intern here at the NCAR Computational & Information Systems Laboratory.

Please welcome

[2018-10-02 00:20] mrocklin commented on #410
Welcome @andersy005 !

[2018-10-02 03:08] DamienIrving opened #411 "Educational materials"
I recently launched Data Carpentry lessons for atmosphere and ocean scientists:
https://datacarpentry.org/blog/2018/09/atmos-ocean-launch

If anyone in the pangeo community has ideas for additional lessons they'd like to see added, feel free to let me know 😄

[2018-10-02 04:46] jhamman commented on #410
Yes, welcome @andersy005 - glad your joining both the NCAR and Pangeo teams!

[2018-10-02 04:48] jhamman commented on #399
@arokem - how's this going? It sounds like you've been making progress using the setup docs on our website? Is there anything more we can do to help you out?

[2018-10-02 04:59] arokem commented on #399
Thanks for checking in!

I took the opportunity to move along the deployment/setup docs in #402
(hopefully in the right direction!), and I have been experimenting a bit
more with some relevant datasets (and with zarr!), but it's been a bit
slow-going. I'll need to do some work with my collaborators here to get
some more datasets and analysis up and running, before starting up the
actual thing. Mig

[2018-10-02 08:45] guillaumeeb opened #412 "Hanging Jupyter cell, Websocket problem: Fix or inform user of possible network problem"
When trying to access pangeo.pydata.org, or my own pangeo deployment from my corporate network, any notebook cell hangs when trying to execute it.

After wrongly raising some issue [here](https://github.com/dask/dask-kubernetes/issues/103), @mrocklin point me to the web socket problem. I also found some exchange in https://gitter.im/pangeo-data/Lobby about this:
@SimonKrughoff was having the same

[2018-10-02 08:51] guillaumeeb commented on #412
Interestingly enough, I can use notebooks on mybinder with dask-examples from my corporate network.

Main difference I see is the use of https instead of http. I don't think we've got more authorisation or goind to mybinder.org over pangeo.pydata.org.

[2018-10-02 11:31] guillaumeeb commented on #412
Correction on the above about Jupyterlab not detecting this case, it just did, after a lot of time, don't know why...

![image](https://user-images.githubusercontent.com/17138587/46346167-70aa8080-c647-11e8-93b4-3b64c18571da.png)

[2018-10-02 13:47] mrocklin commented on #411
I'm really glad to see this.  I think that educational outreach is one of the main things that we should be focused on.  XArray's tooling in particular seems to have surpassed adoption today (more people should be using it than do today).  I think that developing and delivering resources like this are probably also excellent places for institutions to start participating.

cc @stephansiemen

[2018-10-02 14:00] rabernat commented on #411
Fantastic Damien! We would love to work with you to develop more lessons. 👍 to what @mrocklin said.

[2018-10-02 15:36] guillaumeeb commented on #412
Redeploying my pangeo cluster with HTTPS did solve the issue! 🎉

As @rabernat said in https://github.com/pangeo-data/pangeo/issues/404#issuecomment-425979814, we need to modify jupyter_config.yaml, but also don't forget github oauth callback that needs to point to https instead of http.

[2018-10-02 16:20] choldgraf commented on #399
@arokem do you have a project roadmap of some sort for this? If the jupyterhub/binder community can be helpful please let us know!

[2018-10-02 17:22] #343 closed

[2018-10-02 17:32] andersy005 commented on #410
Thank you for the introduction, @kmpaul! Thank you, @mrocklin, @jhamman for the warm welcome! I'm really glad to be part of this team. I hope to contribute to Pangeo project's future and success. I am looking forward to working with each and every one of you

[2018-10-02 17:33] SimonKrughoff commented on #412
@guillaumeeb Thanks for looking into this.  I'll pass this on to my network people, but it sounds like the thing to do is to redeploy `pangeo.pydata.org` on https.

[2018-10-02 17:57] yuvipanda commented on #412
I think opening an issue in github.com/jupyterlab/jupyterlab is appropriate. Glad switching to HTTPS fixed it!

[2018-10-02 18:15] dsludwig commented on #399
@arokem I've put up some documentation on the setup of https://github.com/dsludwig/example.pangeo.io-deploy

Let me know if there's anything that needs clarification.

[2018-10-02 18:44] scottyhq commented on #403
The website currently states ["Don’t hesitate to ADD YOURSELF to the list"](http://pangeo.io/collaborators.html#people) but it's not clear how to do that... If I remember correctly, a user has to fork this file: https://github.com/pangeo-data/pangeo/blob/master/docs/data/people.yml and then submit a pull request? Maybe we keep people.yml in a separate place that is completely open access? Maybe th

[2018-10-02 18:44] MSKirk commented on #269
@rabernat are you using a specific build of `intake`? I am not seeing the module `open_fits_array` in my version 0.2.6.

[2018-10-02 19:19] martindurant commented on #269
@MSKirk , you also need [intake-astro](https://github.com/ContinuumIO/intake-astro/)

[2018-10-02 21:51] rabernat opened #414 "Weekly check-in Meeting 3 oct 2018"
Just a reminder that the weekly check-in will occur tomorrow at 11am EST at http://appear.in/pangeo. Notes from last week are here: http://pangeo.io/meeting-notes.html

All are welcome to join. Please keep your activity summaries brief.

I personally will not be able to attend due to a prior commitment. Hopefully @raphaeldussin can stop by.

[2018-10-03 08:46] rsignell-usgs commented on #353
@kaipak, the problems you encountered on `pangeo.pydata.org` should no longer exist as cluster autoscaling was (finally) successfully enabled on September 10.   You should have no problems requesting 50 or 100 workers.   Can you confirm?

[2018-10-03 08:58] rsignell-usgs commented on #71
With help from @jacobtomlinson, on Sep 10 we enabled cluster autoscaling on our AWS instance at pangeo.esipfed.org, and it has been reliable ever since.   It was just used last week to support a deep learning workshop with 35 students and it scaled up and down seamlessly.

## Summary of Pangeo install on AWS

The pangeo helm chart layers on the JupyterHub helm chart, so the instructions for Pangeo

[2018-10-03 11:47] mrocklin opened #415 "Pangeo binder pods hanging around"
[code]

Should pods on pangeo binder have a maximum up-time?  This may be somewhat costly.

[2018-10-03 11:47] mrocklin commented on #415
I might propose having a maximum up-time of an hour, if that's easy to configure.

@jhamman @dsludwig

[2018-10-03 14:48] niallrobinson commented on #391
hi everyone - I think we've got a pangeo meeting in a few mins. I'm going to sit this one out if that's ok. @jacobtomlinson is off now (!) the only thing I would mention in @rabernat - are you still up for doing this paper - conversation can continue on gitter though

[2018-10-03 15:01] kmpaul commented on #391
Unfortunately, I will have to miss this meeting, too.  However, @andersy005 will be there in my place.

[2018-10-03 15:53] amanda-tan commented on #71
Thanks for resurrecting this thread: Is there actual step-by-step documentation on how to get autoscaling going and being able to change the # of min/max nodes as well as machine size? The last few times I've trying resizing the instances, the entire hub+proxy crashed and required a new helm install.

Maybe this is more of a Z2JH issue than a Pangeo one...

[2018-10-03 17:31] jhamman commented on #322
@dsludwig - this is another issue that could use your help. Both for pangeo jupyterhubs and for binder.

[2018-10-03 17:39] jhamman commented on #71
Let's keep this issue open as it seems like its an active point of discussion.

[2018-10-03 17:43] rsignell-usgs commented on #71
@jhamman , on the pangeo dev call today, you mentioned a place where we might park the AWS specific info.   I looked on https://github.com/pangeo-data/pangeo/blob/master/docs/setup_guides/cloud.rst and it says "This guide currently covers only deployment on Google Cloud Platform. We hope to soon expand it to include AWS and Azure."   Do you have a suggested way to expand it?

[2018-10-03 17:45] jhamman commented on #71
@rsignell-usgs - I think we need to develop the AWS equivalent to: https://github.com/pangeo-data/pangeo/blob/master/gce/setup-guide/1_create_cluster.sh

Once that is in place, we'll want to explain the differences in the docs.

[2018-10-03 17:48] dsludwig commented on #322
This seems like it could be relevant to the dask-worker pods:

From https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node

[2018-10-03 17:55] jhamman commented on #415
This is somewhat related to https://github.com/pangeo-data/pangeo/issues/322

We can also turn down the allowed idle time.

[2018-10-03 18:57] NicWayand opened #416 "Questions on setting up polar.pangeo.io"
Hello all, I have gotten a cluster running following the new guide at #402 (very helpful thank you!) and #373, but have two questions for further customizing it.

1) How to add notebooks: @jhamman pointed me to the `EXAMPLES_GIT_URL` env variable, but I am not sure where to change this. (I tried setting locally before deploying but it didn't grab it). I see its defined on the cluster, but not sure

[2018-10-03 19:04] jhamman commented on #416
@rabernat and I currently hold the keys to the dns settings so I can take care of (2). For 1, the examples path was once set in the docker image but I think with the refactor, we've moved away from this. @dsludwig can probably comment on how this should work now.

[2018-10-03 19:53] jhamman commented on #376
@guillaumeeb - Here's a few materials for you:

- Presentation I gave at scipy:
  - abstract: https://www.dropbox.com/s/7uqlloamvlja2m2/Pangeo_scipy_abstract.docx?dl=0
  - slides: https://www.dropbox.com/s/8ita8j611brwbyy/Pangeo_Unidata_users.key?dl=0
- Presentation I gave at EGU:
  - abstract: https://www.dropbox.com/s/fui0uwvq2r77txx/2018_EGU_Abstract_Hamman_Pangeo.docx?dl=0
  - slides: https://

[2018-10-03 20:02] mcgibbon commented on #383
I'm a little concerned about using Github as the main communication hub for the project, and having the mailing list fall out of use. Github repos are more likely to be owned by men [[1](http://alyssafrazee.com/2014/06/04/gender-and-github-code.html)], and the percentage of female github users is significantly smaller than the percentage of female programmers [[2](https://www.toptal.com/open-sourc

[2018-10-03 20:20] #414 closed

[2018-10-03 20:21] rabernat opened #417 "Congrats to Scott on a great blog post!"
For those who haven't seen it yet, @scottyhq wrote an awesome blog post on his work with remote sensing data!
https://medium.com/pangeo/cloud-native-geoprocessing-of-earth-observation-satellite-data-with-pangeo-997692d91ca2

This sets a new standard for pangeo blog posts. It also includes a pangeo-binder repo so everyone can try out his notebook.

👏 👏 👏

It's also our most popular post on medium y

[2018-10-03 20:29] guillaumeeb commented on #376
Thanks, that's perfect!

[2018-10-03 20:29] rabernat commented on #401
How are usernames handled in this case? Is each user still called `jovyan`? If so, how does NFS map the users personal space?

[2018-10-03 20:40] jhamman commented on #404
Are we okay with closing this issue> The HTTPS action item is covered in various other issues.

[2018-10-03 20:42] jetesdal opened #418 "Unable to access pangeo.pydata.org"
I'm working with @rabernat and just joined the @pangeo-data organization on GitHub (Just joined @pangeo-data today following invitation by @rabernat). Currently, I am still unable to access pangeo.pydata.org. After I sign in with GitHub, I receive "403 : Forbidden" (see attached screenshot).
![screenshot 2018-10-03 16 17 16](https://user-images.githubusercontent.com/8991018/46437946-9066a500-c72a-

[2018-10-03 20:43] guillaumeeb commented on #416
For (1), shouldn't you modify https://github.com/pangeo-data/pangeo/blob/master/gce/setup-guide/jupyter_config.yaml#L6 so that the env variable is taken into account in https://github.com/pangeo-data/helm-chart/blob/master/docker-images/notebook/prepare.sh?

I'm not sure if Docker images are rebuilt on cluster deployment?

[2018-10-03 20:44] jhamman commented on #418
you need to set your organization affiliation to public: https://github.com/orgs/pangeo-data/people

[2018-10-03 20:52] jetesdal commented on #418
OK got it. I'm able to access it now. Thanks!

[2018-10-03 20:52] #418 closed

[2018-10-03 21:22] NicWayand commented on #416
Thanks @jhamman for setting up polar.pangeo.io! (note this is running on my trial GCP credits so won't do much right now).

@guillaumeeb yes that worked! And the docker images are apparently rebuilt when I redeploy after updating the `EXAMPLES_GIT_URL` variable.

[2018-10-03 23:09] yuvipanda commented on #401
The NFS directories would be created under /some-path/<username>, while inside the container it'll still seem to be /home/jovyan. See https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/datahub/config/prod.yaml#L15 for an example - specifically the `{username}` template expansion.

[2018-10-03 23:28] NicWayand commented on #416
How do I go about adding different packages to be available by default (without each user having to `conda install XXX`)?

Is the only way to [extent the current image ](https://zero-to-jupyterhub.readthedocs.io/en/stable/user-environment.html#customize-an-existing-docker-image)?

For example, I would like to automate:
[code]

[2018-10-03 23:30] arokem commented on #399
Hi @dsludwig : thanks! I will take a look (slowly -- I am traveling a lot in October...).

@choldgraf : Thanks for offering your help!  I am sure that we will need it :-)

My road map for progress on this is based on two major use-cases that I would like to explore within a neuro.pangeo.io:

- Analysis of diffusion-MRI data from human brain. This is a use-case in which data is stored in a domain-s

[2018-10-04 00:33] jhamman commented on #383
@mcgibbon - thank you for sharing this perspective. I'm open to exploring different communication channels. I'm personally finding this space difficult to navigate so suggestions are certainly welcome.

[2018-10-04 03:49] #346 closed

[2018-10-04 03:50] jhamman commented on #346
I've archived the existing wiki pages.

[2018-10-04 10:43] #301 closed

[2018-10-04 16:14] amanda-tan commented on #71
@rsignell-usgs If you do have a documentation write up available, I can help test it out -- we're spinning up an actual full-blown Pangeo hub on AWS and any pointers would be great.

[2018-10-04 16:32] rsignell-usgs commented on #71
@amanda-tan, I'd be happy to help out, basically passing along the knowledge that was passed from @jacobtomlinson to us.    And this would give us a chance to capture the steps for the next person.

[2018-10-04 16:49] rsignell-usgs commented on #71
@amanda-tan , perhaps we should work on the cookbook steps for AWS offline and then post back here?
Some of the info is here... https://github.com/ESIPFed/esiphub-dev/issues/23#issuecomment-416722850

[2018-10-04 18:57] mcgibbon commented on #383
@jhamman I will write some suggestions in #403 so as not to veer off topic here.

[2018-10-04 19:01] mcgibbon commented on #403
This is maybe where this reply to posts in #383 should go? It's about how we communicate as a group.

@jhamman I would suggest using the mailing list for things like #383, #417, #391, #374 whose intended audience is everyone in the group rather than those working on particular projects. It may be appropriate to put discussion in a github issue but announce the existence of that issue to the mailin

[2018-10-04 22:09] NicWayand commented on #416
Hi @dsludwig! Thanks for the suggestions. I am finally starting to understand the workflow, and am making some edits to the README.md [here](https://github.com/NicWayand/example.pangeo.io-deploy).

To be explicit (any maybe save others like me time), we are setting up the CircleCI to automate the deployment of the Helm, which will update each time someone make a commit. That is why [here](https://

[2018-10-04 22:14] SimonKrughoff commented on #255
@martindurant thanks so much for making the parquet files!

I can confirm they look they way I expect them to:
<img width="1343" alt="image" src="https://user-images.githubusercontent.com/945715/46506065-f2391480-c7e7-11e8-89c7-8632b808e9eb.png">

That's 1.6 billion entries rendered in something like 15 seconds is not too bad.

I had one question.  The raw CSV files have about 1.8 billions entries

[2018-10-04 22:30] martindurant commented on #255
The picture looks extremely cool, though!

With datashader, you should be able to zoom and pan pretty effectively. As things stand, I don't think that Dask will do a particularly good job of subselecting the partitions when you do this, rendering any image probably takes about the same time.

[2018-10-04 22:31] mrocklin commented on #255
Is that 15s on one machine, or across a cluster?

[2018-10-04 22:34] rabernat commented on #255
This will probably not work with dask

We need to upgrade datashader on pangeo.pydata.org
https://github.com/pyviz/datashader/issues/659

Sent from my iPhone

[2018-10-05 02:58] rabernat commented on #396
Thanks for for the info and sorry for the slow follow up!

Pangeo is not only focused on cloud / kubernetes style environments--we are also able to deploy on standard HPC systems with no special treatment. This is what we do today on Cheyenne (see docs: http://pangeo.io/setup_guides/hpc.html).

So it should be possible to run pangeo on Jasmine today purely from user space, without any special priv

[2018-10-05 05:30] guillaumeeb commented on #255
@SimonKrughoff would you share some notebook about that? I suspect that could interest some people at @CNES who worked on GAIA, or other affiliated labs.

[2018-10-05 05:51] SimonKrughoff commented on #255
Trying to answer several questions at once:

* @martindurant I must have made a mistake in my counting.  I talked with a collaborator who worked on Gaia and she confirms what you say as well.  I'll look into what I was doing wrong.
* @mrocklin I used a 40 worker cluster.
* @rabernat see the pangeo gitter.  I installed a newer version of datashader in my user space and was able to use dask to make

[2018-10-05 09:19] guillaumeeb commented on #255
Thanks @SimonKrughoff.

Just also pointing to some work done on Gaia astronomical data storage here: https://github.com/MBrahem/ASTROIDE. It's using Parquet, and healpix partitionning, and then Spark for querying. It would be nice to establish some storage standard here.

I imagine there are a lot of other works in this direction in other projects.

[2018-10-05 10:07] duncanwp commented on #396
I'd definitely be up for trying this out. I tried to make this work on the ARCHER data processing facility (https://www.archer.ac.uk/documentation/rdf-guide/) a while ago but couldn't quite get the client to talk to the workers. That guide looks very helpful though.

I'll give it a go and report back!

[2018-10-05 14:28] duncanwp commented on #396
So I have a notebook tunnelled through to the server, a client and cluster setup, but I can't seem to get the client to see the workers (which is a similar problem I was having on ARCHER).

I'm using the following cluster setup:

[code]
Which when I start workers gives me a sensible output:

[code]

But neither the Client nor the Dask dashboard can see the resulting workers (even though the job is

[2018-10-05 14:31] mrocklin commented on #396
Looks like your workers were never able to contact your scheduler.  My
guess is that this address isn't visible from where your workers have been
created.

    distributed.worker - INFO - Waiting to connect to: tcp://
130.246.142.77:44963

On Fri, Oct 5, 2018 at 10:28 AM Duncan Watson-Parris <
notifications@github.com> wrote:

[2018-10-05 14:41] lila opened #420 "Integration with external ESGF data sources"
Hi everyone,

I just wanted to capture any issues we may have regarding connecting to and accessing data from external data sources, specifically ESGF datanodes.  ESGF now supports k8s as well.  So some questions that have come up:

 - pangeo uses oauth2 authentication with github.  esgf uses its own user certificates.  is it possible to combine them somehow?  ie, somehow upload/save/define esgf u

[2018-10-05 15:01] duncanwp commented on #396
Yes, I suspect you're right. I've emailed the support team to understand if this is a fundamental limitation of the setup they have.

In the meantime are there any other mechanisms to allow this communication? I seem to remember in iPython you can use ssh/file based communication between the scheduler and the workers.

[2018-10-05 15:04] mrocklin commented on #396
Dask only uses TCP for inter-node communication.  Probably you just need to
find and select the right network interface.

https://stackoverflow.com/a/43881158/616616

On Fri, Oct 5, 2018 at 11:01 AM Duncan Watson-Parris <
notifications@github.com> wrote:

[2018-10-05 15:22] mkjpryor-stfc commented on #396
I'd be very surprised if that port is open in the firewall config. I also think you'll have a hard time convincing the infrastructure team to open it. We've discussed running Jupyter notebooks on LOTUS before and the response is never positive. Having said that, it would be nice to be able to use Dask...

I think using the cloud is going to be the best option for getting Pangeo running on JASMIN i

[2018-10-05 15:43] martindurant commented on #255
This will be many times faster with the master version of Dask (being released soon), which does not pre-scan the files. For the version you currently have, it would have been much faster to use the URL `'gcs://mdtemp/astro/gaia2.parquet'` (sorry for the confusion here).

For the record, I like a lot how this data-set is generic and can be manipulated with the dataframe abstraction and imaged nice

[2018-10-05 15:43] dsludwig commented on #416
Yes, you should use a different image name (using your own project name). The CI script actually builds a custom image for you, based on the examples and environment that you have configured.

That image should be in a public-readable bucket (this is currently a constraint of hubploy, one of the automation pieces).

[2018-10-05 15:43] dsludwig commented on #322
If we could configure the autoscaler, there's some things we could do to tune how the cluster scales: https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#i-have-a-couple-of-nodes-with-low-utilization-but-they-are-not-scaled-down-why

However, it's not possible to configure the cluster autoscaler when creating node pools on GKE using the `--autoscaling` flag: https://gith

[2018-10-05 15:54] duncanwp commented on #396
Also, just to be clear, this is only between jasmin-sci1 and the lotus compute nodes. So inside the external firewall.

[2018-10-05 15:54] mkjpryor-stfc commented on #396
@mrocklin What I said pretty much applies to any port. The operations team are reluctant to open ports that aren't for system services.

Presumably this would have to be a range that was opened anyway? To account for the case where two user's Dask schedulers get scheduled (by LSF) to the same node?

Is the Dask transport pluggable? I can't believe we are the only people who would prefer an MPI tra

[2018-10-05 15:56] mkjpryor-stfc commented on #396
@duncanwp So your notebook server is running on jasmin-sci1? How are you connecting your local browser to it? Using an SSH tunnel?

[2018-10-05 15:58] mrocklin commented on #396
Yes.  https://distributed.readthedocs.io/en/latest/communications.html#communications-api
An MPI implementation would be welcome.  See also https://github.com/dask/distributed/issues/2177

[2018-10-05 15:58] duncanwp commented on #396
@mkjpryor-stfc Yes, exactly

[2018-10-05 16:00] mrocklin commented on #396
What I typically see is that people run the dask scheduler and workers within an internal network, where every machine can talk to every other machine on any port, but can't see outside.  Usually this means that you have to specify an internal network interface using the `--interface` keyword.

They might also run a Jupyter notebook within that network.

They then use ssh tunnelling to get access

[2018-10-05 16:02] philipkershaw commented on #396
I know that Dask has been used with Lotus on JASMIN as I spoke to a user about it recently.  I can write to them and find out more if it would be useful

[2018-10-05 16:05] duncanwp commented on #396
@philipkershaw Yes, that would be great, thanks.

I've tried specifying the only other network interface and while it's definitely trying to connect on a different subnet I have the same problem.

[2018-10-05 16:07] rabernat commented on #396
We have done this successfully on many different HPC systems, including some with very high security requirements such as NASA’s Pleiades computer.

We are not talking about opening ports to the outside world. We are talking about TCP communication between different compute nodes within the cluster. I have never encountered an HPC system where such communication were prohibited. Surely dask is not

[2018-10-05 16:12] duncanwp commented on #396
I think, to be fair to CEDA, the architecture of JASMIN plays a role here: The LOTUS compute cluster is (I believe) on a separate network to the interactive science VMs from which I'm running the scheduler. If I was able to launch an interactive session on LOTUS from the science VMs to run the scheduler it might be easier. Hopefully we can figure a way through this though.

[2018-10-05 16:13] mrocklin commented on #396
Ideally you would launch your scheduler on the same network where you launch your workers

[2018-10-05 16:55] consideRatio commented on #322
@dsludwig In the long run, one may be allowed from a GKE cluster to configure the autoscaler by having access to a custom resource that it will look for. I would not sit around and wait for it though, they removed such functionality since it wasn't utilized enough and added some complexity if i don't remember incorrectly.

I'm not sure how your pods are scheduled on the cluster, but have you made

[2018-10-05 16:58] consideRatio commented on #322
@mrocklin btw there will only be at most one hook puller in the current z2jh master, and they will go away whenever a helm upgrade successfully completes.

[2018-10-05 17:59] dsludwig commented on #322
Hmm... it looks like we've got some kube-system pods for critical services (tiller, heapster, metrics-server) migrating to expensive/user pool nodes, and that's preventing scale-down. We may need to taint the user pools to ensure they don't get there in the first place.

Alternatively, we could add pod disruption budgets for those system services, to allow them to be unavailable while scaling down

[2018-10-05 18:11] consideRatio commented on #322
yepp i recommend having a few nodes for kube dns and various other pods that scale up with node count, and then a node pool for the huge number of pods that you burst living with tolerations on tainted nodes.

support for setting tolerations for the jh user pods is around in current z2jh master btw

[2018-10-05 18:27] SimonKrughoff commented on #255
@martindurant do you mind if we mirror those parquet files to a bucket in the same region with our GKE deployment?

[2018-10-05 18:29] martindurant commented on #255
Please, go ahead.

[2018-10-05 18:51] philipkershaw commented on #396
@duncanwp, I heard back from the user - Jose at UCL.  He shared these notes: https://paper.dropbox.com/doc/Dask-on-CEMSJASMINWhatever-pJv2kvR2oPhehee7zQ4C1

[2018-10-05 21:05] SimonKrughoff opened #421 "My `transfer-*` tasks are taking way longer than I expect."
I'm having a dask issue that I thought people here might be able to help with.

We have two deployments of JupyterLab+dask with KubeCluster on k8s.  One is on GKE (a) and the other is on a k8s cluster the LSST project owns (b).

The problem I have currently is that there are `transfer-*` tasks: i.e. `transfer-getitem` and `transfer-data`, that show up on deployment (b) that completely dominate the

[2018-10-05 21:10] mrocklin commented on #421
The first thing I would check would be to verify that you're using the correct network interface.  Often HPC clusters have both high performance and low performance networks available, and Dask may not choose the right one by default.  This stack overflow question about infiniband may be useful (even if you're not using infiniband)

https://stackoverflow.com/questions/43881157/how-do-i-use-an-infi

[2018-10-05 21:13] martindurant commented on #421
Reminds me, do we have documentation around how to read the various panels of the dashboard? For the next time someone does an update, may be worthwhile putting in clickable "(?)" buttons that links to description of the kinds of things can be seen in each component.

[2018-10-05 21:15] mrocklin commented on #421
There is screencast.  It would be nice to have proper docs around each page though: http://docs.dask.org/en/latest/diagnostics-distributed.html#dashboard

See also https://github.com/bokeh/bokeh/issues/7535

[2018-10-05 21:37] NicWayand commented on #416
Thanks @dsludwig for all the help getting setup! The CircleCI is now successful and the [polar.pangeo.io](polar.pangeo.io) is now deployed.

However, when I start my server, I get a `CrashLoopBackOff` error when inspecting the GCP workload viewer. (`Back-off 1m20s restarting failed container=notebook pod=jupyter-nicwayand_staging(0b16b8d5-c8e3-11e8-a4d1-42010a8a00cb): CrashLoopBackOff`)

The log f

[2018-10-06 01:03] philippjfr commented on #255
Datashader was just updated to 0.6.8 on conda-forge https://github.com/conda-forge/datashader-feedstock/pull/6, so you should be able to update now.

[2018-10-06 07:32] guillaumeeb commented on #255
Totally agree with you @martindurant, what's important to me is to provide a storage format/strategy that is first generic and compatible with various infrastructures or programming langages (parquet), and then optimized for multidimentionnal Access (through healpix, time, or distance for example).

After that, one can safely explore datasets in this format with wathever technology they prefer, an

[2018-10-06 07:40] guillaumeeb commented on #403
FWIW, I like the fact that everything is done in one tool. It may need some refactoring or more structuration on how to use it, but I still prefer that to splitting things in different channels.

[2018-10-06 09:13] duncanwp commented on #396
Yeah, so this is one approach but it’s not very satisfactory and there are easier ways of doing it.

It’s fine for a parallelising a script but by submitting a separate job for the scheduler you have to manage two jobs manually and lose any interactivity with the workers.

I’ve raised a support ticket for allowing the workers to communicate but perhaps there are other channels for raising this use

[2018-10-06 09:32] guillaumeeb commented on #396
I'm not sure if you've tried the usual solution of submiting a job, be it interactive or not, for running your notebook  on the compute node. This way you should be able to create a dask cluster using dask-jobqueue inside the notebook.

[2018-10-06 09:34] guillaumeeb commented on #396
See maybe http://jobqueue.dask.org/en/latest/#using-jupyter.

[2018-10-06 21:56] mkjpryor-stfc commented on #396
@duncanwp I suspect running the notebook server on the sci machines will not be popular with the operations team... It is not scalable at all as every user would need their own port.

[2018-10-06 22:46] mrocklin commented on #396
I often see people ssh in and use ssh tunnelling to get the notebook port
ot without getting permission from IT.  Is ssh accessible to most users?

On Sat, Oct 6, 2018 at 5:56 PM Matt Pryor <notifications@github.com> wrote:

[2018-10-06 23:15] mkjpryor-stfc commented on #396
@mrocklin I think that is what @duncanwp is doing at the moment, which works. He is running the notebook server and Dask scheduler on a shared machine that is separate to the batch cluster, and connecting to the notebook server using an SSH tunnel. He is then attempting to launch Dask workers in the cluster, but they can't contact the Dask scheduler because the port it is using is not open on the

[2018-10-07 08:59] duncanwp commented on #396
After a little more experimenting I can just about make this work by running the notebook in a non-interactive job, figuring out which host it’s being run on and the tunnelling to that. It’s not elegant, and definitely not something I’d recommend to other users though since it involves three ssh tunnels (through login1, Jasmin-sci1 then to the lotus host), each of which could introduce a port clas

[2018-10-07 15:52] choldgraf commented on #399
@arokem some quick thoughts:

I haven't found any good examples of cloud-optimized electrophysiology processing, though @dengemann and @agramfort might have some thoughts (both work with the MNE-python project and I believe have done some work on large-scale analysis of ephys data).

I've often felt like XArray would be a really nice candidate for timeseries in neuroscience...that'd be an interest